In [1]:
import pandas as pd 
import numpy as np 
from pathlib import Path

In [24]:
spy_feb_raw = pd.read_csv("./Resources/spy_30x_202202.txt")
spy_feb_raw.to_csv("./Resources/spy_30x_202202.csv", index=None)

C:\Users\barkf\anaconda3\envs\dev\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (15,17,18,20,21,23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [25]:
spy_feb_raw.head()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99757,0.00011,...,0.01,-0.00009,0.00002,0.00049,-0.00530,-0.00022,1.650550,0.000000,150.7,0.334
1,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99739,0.00012,...,0.01,-0.00007,0.00003,0.00015,-0.00545,-0.00033,1.587310,0.000000,145.7,0.323
2,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99781,0.00015,...,0.01,-0.00021,0.00000,0.00025,-0.00483,-0.00029,1.524950,0.000000,140.7,0.312
3,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99691,0.00011,...,0.01,-0.00051,0.00002,0.00051,-0.00488,-0.00017,1.463620,0.000000,135.7,0.301
4,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99810,0.00011,...,0.01,-0.00012,0.00005,0.00089,-0.00474,-0.00036,1.402770,0.000000,130.7,0.290

In [39]:
# Dropping all the PUT columns since it is not needed - how to get the last 2 rows back tho?

spy_feb_raw.drop(spy_feb_raw.iloc[:, 20:31], inplace = True , axis=1)

spy_feb_raw.tail()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],[C_VEGA],[C_THETA],[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE]
1364729,1646082000,2022-02-28 16:00,2022-02-28,16.0,436.52,2024-12-20,1734728400,1026.0,0.06257,0.00101,0.90359,-0.00786,0.68690,0.165710,0.000000,4.0,1 x 1,2.0,3.98,700.0
1364730,1646082000,2022-02-28 16:00,2022-02-28,16.0,436.52,2024-12-20,1734728400,1026.0,0.10465,0.00122,1.33139,-0.01280,1.10988,0.198390,0.000000,3.62,2 x 10,2.8,10.0,705.0
1364731,1646082000,2022-02-28 16:00,2022-02-28,16.0,436.52,2024-12-20,1734728400,1026.0,0.09564,0.00117,1.24539,-0.01166,1.01780,0.195050,1.000000,3.5,2 x 1,2.8,8.5,710.0
1364732,1646082000,2022-02-28 16:00,2022-02-28,16.0,436.52,2024-12-20,1734728400,1026.0,0.09443,0.00117,1.23518,-0.01185,1.00567,0.196260,2.000000,2.88,2 x 1,2.8,8.44,715.0
1364733,1646082000,2022-02-28 16:00,2022-02-28,16.0,436.52,2024-12-20,1734728400,1026.0,0.05912,0.00094,0.86372,-0.00721,0.64620,0.172470,6.000000,2.9,1 x 2,2.8,3.0,720.0

In [40]:
spy_jan_raw = pd.read_csv("./Resources/spy_30x_202201.txt")
spy_jan_raw.to_csv("./Resources/spy_30x_202201.csv", index=None)

C:\Users\barkf\anaconda3\envs\dev\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (15,17,18,20,21,23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [41]:
spy_jan_raw.head()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88342,0.00007,...,0.01,0.00000,0.00004,0.00004,-0.00491,0.0,3.921640,0.000000,241.4,0.507
1,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,1.00000,0.00000,...,0.01,-0.00015,0.00003,-0.00017,-0.00495,0.0,3.809690,0.000000,236.4,0.496
2,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88804,-0.00002,...,0.01,-0.00025,-0.00002,0.00045,-0.00460,0.0,3.700490,0.000000,231.4,0.486
3,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88920,0.00000,...,0.01,-0.00004,0.00003,-0.00018,-0.00544,0.0,3.593250,0.000000,226.4,0.475
4,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,1.00000,0.00000,...,0.01,-0.00044,0.00005,0.00032,-0.00536,0.0,3.487810,0.000000,221.4,0.465

In [42]:
# Dropping all the PUT columns since it is not needed - how to get the last 2 rows back tho?

spy_jan_raw.drop(spy_jan_raw.iloc[:, 20:31], inplace = True , axis=1)

spy_jan_raw.tail()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
1380927,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.0,0.07679,0.00113,...,0.88752,0.163330,0.000000,3.1,2 x 1,3.1,4.7,700.0,250.1,0.556
1380928,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.0,0.11080,0.00127,...,1.24206,0.188030,0.000000,3.25,1 x 51,3.05,10.5,705.0,255.1,0.567
1380929,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.0,0.05495,0.00095,...,0.64791,0.153460,0.000000,2.81,50 x 1,0.02,5.0,710.0,260.1,0.578
1380930,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.0,0.06362,0.00100,...,0.73814,0.161280,1.000000,3.05,1 x 1,2.95,3.23,715.0,265.1,0.589
1380931,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.0,0.05880,0.00099,...,0.68530,0.160340,24.000000,2.0,1 x 1,2.67,2.95,720.0,270.1,0.600

In [43]:
spy_mar_raw = pd.read_csv("./Resources/spy_30x_202203.txt")
spy_mar_raw.to_csv("./Resources/spy_30x_202203.csv", index=None)

C:\Users\barkf\anaconda3\envs\dev\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (15,17,18,20,21,23,29) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [48]:
# Dropping all the PUT columns since it is not needed - how to get the last 2 rows back tho?

spy_mar_raw.drop(spy_mar_raw.iloc[:, 20:31], inplace = True , axis=1)

spy_mar_raw.tail()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],[C_VEGA],[C_THETA],[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE]
1547947,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08611,0.00127,1.17244,-0.01093,0.93677,0.172830,0.000000,4.94,2 x 1,2.7,6.46,700.0
1547948,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09348,0.00122,1.24697,-0.01120,1.01010,0.180860,0.000000,3.07,1 x 2,3.0,7.5,705.0
1547949,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09002,0.00120,1.21044,-0.01107,0.97074,0.180970,0.000000,4.05,1 x 1,3.01,7.0,710.0
1547950,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08860,0.00120,1.20142,-0.01162,0.96048,0.183300,0.000000,4.72,1 x 4,3.0,7.0,715.0
1547951,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.07671,0.00112,1.06992,-0.01014,0.82983,0.176950,0.000000,4.17,1 x 1,3.59,4.5,720.0

In [49]:
spy_data_raw = pd.concat([spy_jan_raw, spy_feb_raw, spy_mar_raw])

In [50]:
display(spy_data_raw.iloc[1380930:])

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
1380930,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.00,0.06362,0.00100,...,0.73814,0.161280,1.000000,3.05,1 x 1,2.95,3.23,715.0,265.1,0.589
1380931,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.00,0.05880,0.00099,...,0.68530,0.160340,24.000000,2.0,1 x 1,2.67,2.95,720.0,270.1,0.600
0,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99757,0.00011,...,0.01638,2.008630,,0.000000,20 x 20,150.560000,150.970000,300.0,NaN,NaN
1,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99739,0.00012,...,0.01685,1.933080,,0.000000,20 x 20,145.560000,145.970000,305.0,NaN,NaN
2,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99781,0.00015,...,0.01701,1.858600,,0.000000,20 x 20,140.560000,140.970000,310.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1547947,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08611,0.00127,...,0.93677,0.172830,0.000000,4.94,2 x 1,2.7,6.46,700.0,NaN,NaN
1547948,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09348,0.00122,...,1.01010,0.180860,0.000000,3.07,1 x 2,3.0,7.5,705.0,NaN,NaN
1547949,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09002,0.00120,...,0.97074,0.180970,0.000000,4.05,1 x 1,3.01,7.0,710.0,NaN,NaN
1547950,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08860,0.00120,...,0.96048,0.183300,0.000000,4.72,1 x 4,3.0,7.0,715.0,NaN,NaN
1547951,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.07671,0.00112,...,0.82983,0.176950,0.000000,4.17,1 x 1,3.59,4.5,720.0,NaN,NaN

In [51]:
display(spy_data_raw.head())
display(spy_data_raw.tail())

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88342,0.00007,...,0.00063,9.994200,,0.0,10 x 1,240.91,242.8,235.0,241.4,0.507
1,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,1.00000,0.00000,...,0.00000,,,0.0,1 x 20,235.59,236.46,240.0,236.4,0.496
2,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88804,-0.00002,...,0.00056,9.098910,,0.0,10 x 105,230.96,232.15,245.0,231.4,0.486
3,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88920,0.00000,...,0.00122,8.835610,,0.0,10 x 1,225.96,227.78,250.0,226.4,0.475
4,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,1.00000,0.00000,...,0.00000,,,0.0,105 x 1,220.65,221.91,255.0,221.4,0.465

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
1547947,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08611,0.00127,...,0.93677,0.172830,0.000000,4.94,2 x 1,2.7,6.46,700.0,NaN,NaN
1547948,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09348,0.00122,...,1.01010,0.180860,0.000000,3.07,1 x 2,3.0,7.5,705.0,NaN,NaN
1547949,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09002,0.00120,...,0.97074,0.180970,0.000000,4.05,1 x 1,3.01,7.0,710.0,NaN,NaN
1547950,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08860,0.00120,...,0.96048,0.183300,0.000000,4.72,1 x 4,3.0,7.0,715.0,NaN,NaN
1547951,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.07671,0.00112,...,0.82983,0.176950,0.000000,4.17,1 x 1,3.59,4.5,720.0,NaN,NaN

In [52]:
#spy_data_v1 = spy_data_raw.drop(columns=["[QUOTE_UNIXTIME]", "[QUOTE_DATE]",  "[QUOTE_TIME_HOURS]', '[EXPIRE_UNIX]','[C_BID]', '[C_ASK]' , '[C_SIZE]'])

#spy_data_v2 = spy_data_raw.drop(columns=["[QUOTE_UNIXTIME]"," [QUOTE_DATE]", " [QUOTE_TIME_HOURS]", " [EXPIRE_UNIX]", " [C_BID]", " [C_ASK]", " [C_SIZE]"])

spy_data_raw.columns

Index(['[QUOTE_UNIXTIME]', ' [QUOTE_READTIME]', ' [QUOTE_DATE]',
       ' [QUOTE_TIME_HOURS]', ' [UNDERLYING_LAST]', ' [EXPIRE_DATE]',
       ' [EXPIRE_UNIX]', ' [DTE]', ' [C_DELTA]', ' [C_GAMMA]', ' [C_VEGA]',
       ' [C_THETA]', ' [C_RHO]', ' [C_IV]', ' [C_VOLUME]', ' [C_LAST]',
       ' [C_SIZE]', ' [C_BID]', ' [C_ASK]', ' [STRIKE]', ' [STRIKE_DISTANCE]',
       ' [STRIKE_DISTANCE_PCT]'],
      dtype='object')

In [53]:
spy_data_v2 = spy_data_raw.drop(columns=["[QUOTE_UNIXTIME]"," [QUOTE_DATE]", " [QUOTE_TIME_HOURS]", " [EXPIRE_UNIX]", " [C_BID]", " [C_ASK]", " [C_SIZE]"])

In [54]:
spy_data_v2.head()

,[QUOTE_READTIME],[UNDERLYING_LAST],[EXPIRE_DATE],[DTE],[C_DELTA],[C_GAMMA],[C_VEGA],[C_THETA],[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88342,0.00007,0.02894,-0.42476,0.00063,9.994200,,0.0,235.0,241.4,0.507
1,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,,0.0,240.0,236.4,0.496
2,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88804,-0.00002,0.02824,-0.12471,0.00056,9.098910,,0.0,245.0,231.4,0.486
3,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88920,0.00000,0.02923,-0.43999,0.00122,8.835610,,0.0,250.0,226.4,0.475
4,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,,0.0,255.0,221.4,0.465

In [55]:
# fixing the format of the column names 

spy_data_v2.rename(columns = {' [QUOTE_READTIME]': 'QUOTE_READTIME',' [UNDERLYING_LAST]': 'UNDERLYING_LAST', ' [EXPIRE_DATE]' : 'EXPIRE_DATE', ' [DTE]': 'DTE', ' [C_DELTA]' : 'C_DELTA', ' [C_GAMMA]' : 'C_GAMMA', ' [C_VEGA]': 'C_VEGA', ' [C_THETA]': 'C_THETA', ' [C_RHO]': 'C_RHO', ' [C_IV]': 'C_IV', ' [C_VOLUME]': 'C_VOLUME', ' [C_LAST]': 'C_LAST', ' [STRIKE]': 'STRIKE', ' [STRIKE_DISTANCE]': 'STRIKE_DISTANCE', ' [STRIKE_DISTANCE_PCT]': 'STRIKE_DISTANCE_PCT'}, inplace = True)

In [56]:
spy_data_v2.columns

Index(['QUOTE_READTIME', 'UNDERLYING_LAST', 'EXPIRE_DATE', 'DTE', 'C_DELTA',
       'C_GAMMA', 'C_VEGA', 'C_THETA', 'C_RHO', 'C_IV', 'C_VOLUME', 'C_LAST',
       'STRIKE', 'STRIKE_DISTANCE', 'STRIKE_DISTANCE_PCT'],
      dtype='object')

In [57]:
spy_data_v2.head()

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE,STRIKE_DISTANCE_PCT
0,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88342,0.00007,0.02894,-0.42476,0.00063,9.994200,,0.0,235.0,241.4,0.507
1,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,,0.0,240.0,236.4,0.496
2,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88804,-0.00002,0.02824,-0.12471,0.00056,9.098910,,0.0,245.0,231.4,0.486
3,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88920,0.00000,0.02923,-0.43999,0.00122,8.835610,,0.0,250.0,226.4,0.475
4,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,,0.0,255.0,221.4,0.465

In [58]:
spy_data_v2['STRIKE DISTANCE'] = spy_data_v2['STRIKE'] - spy_data_v2['UNDERLYING_LAST']

display(spy_data_v2.head())

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE
0,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88342,0.00007,0.02894,-0.42476,0.00063,9.994200,,0.0,235.0,241.4,0.507,-241.43
1,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,,0.0,240.0,236.4,0.496,-236.43
2,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88804,-0.00002,0.02824,-0.12471,0.00056,9.098910,,0.0,245.0,231.4,0.486,-231.43
3,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88920,0.00000,0.02923,-0.43999,0.00122,8.835610,,0.0,250.0,226.4,0.475,-226.43
4,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,,0.0,255.0,221.4,0.465,-221.43

In [59]:
spy_data_v3 = spy_data_v2.drop(columns=['STRIKE_DISTANCE'])
spy_data_v3.head()

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE
0,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88342,0.00007,0.02894,-0.42476,0.00063,9.994200,,0.0,235.0,0.507,-241.43
1,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,,0.0,240.0,0.496,-236.43
2,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88804,-0.00002,0.02824,-0.12471,0.00056,9.098910,,0.0,245.0,0.486,-231.43
3,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88920,0.00000,0.02923,-0.43999,0.00122,8.835610,,0.0,250.0,0.475,-226.43
4,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,,0.0,255.0,0.465,-221.43

In [60]:
# setting the index to the contract readtime  

# spy_data_v4 = spy_data_v3.set_index('QUOTE_READTIME')

In [65]:
# filtering out strikes values that will not be used since the spread was quite large - retaining 15 total strikes 
# Import data


spy_data_v3 = spy_data_v3[
    (spy_data_v3['STRIKE DISTANCE'] <= 10.00) & (spy_data_v3['STRIKE DISTANCE'] > -5.00)
]

spy_data_v3

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE
93,2022-01-03 09:30,476.43,2022-01-03,0.27,0.86024,0.06652,0.05396,-0.17512,0.00603,0.174750,0.000000,3.81,472.0,0.009,-4.43
94,2022-01-03 09:30,476.43,2022-01-03,0.27,0.82081,0.08413,0.06406,-0.22497,0.00637,0.155140,0.000000,2.98,473.0,0.007,-3.43
95,2022-01-03 09:30,476.43,2022-01-03,0.27,0.75550,0.10534,0.07701,-0.32969,0.00641,0.140070,61.000000,2.68,474.0,0.005,-2.43
96,2022-01-03 09:30,476.43,2022-01-03,0.27,0.65622,0.12492,0.09052,-0.54061,0.00693,0.130370,60.000000,2.0,475.0,0.003,-1.43
97,2022-01-03 09:30,476.43,2022-01-03,0.27,0.53238,0.14434,0.09834,-0.81966,0.00570,0.117060,11.000000,1.29,476.0,0.001,-0.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1547794,2022-03-31 16:00,451.77,2024-01-19,659.04,0.55901,0.00278,2.39547,-0.04419,3.55214,0.234300,58.000000,56.98,455.0,NaN,3.23
1547795,2022-03-31 16:00,451.77,2024-01-19,659.04,0.54488,0.00285,2.40679,-0.04353,3.48109,0.232670,1.000000,54.4,460.0,NaN,8.23
1547897,2022-03-31 16:00,451.77,2024-12-20,995.04,0.58767,0.00220,2.90317,-0.03576,5.28087,0.236990,3.000000,74.68,450.0,NaN,-1.77
1547898,2022-03-31 16:00,451.77,2024-12-20,995.04,0.57873,0.00220,2.91728,-0.03660,5.18083,0.241990,1.000000,72.34,455.0,NaN,3.23
1547899,2022-03-31 16:00,451.77,2024-12-20,995.04,0.56685,0.00220,2.93334,-0.03684,5.11563,0.238630,121.000000,70.1,460.0,NaN,8.23

In [66]:
#spy_data_v3.to_csv("./Resources/spycallsV8.csv", index=None)

import pandas as pd 
import numpy as np 
from pathlib import Path# Start Here

In [2]:
import pandas as pd 
import numpy as np 
from pathlib import Path

In [3]:
spy_path = Path('./Resources/spycallsV9.csv')
spy_data_v5 = pd.read_csv(spy_path)

In [4]:
spy_data_v5.tail()

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE
71180,3/25/2022 16:00,452.55,3/25/2022,0.0,0.00476,0.00494,0.00258,-0.00533,0.00014,0.16389,2702.0,0.01,458.0,NaN,5.45
71181,3/25/2022 16:00,452.55,3/25/2022,0.0,0.00503,0.00398,0.00258,-0.00451,-0.00019,0.18157,3424.0,0.01,459.0,NaN,6.45
71182,3/25/2022 16:00,452.55,3/25/2022,0.0,0.00459,0.00328,0.00284,-0.00507,-0.00030,0.19885,1109.0,0.01,460.0,NaN,7.45
71183,3/25/2022 16:00,452.55,3/25/2022,0.0,0.00350,0.00282,0.00280,-0.00491,-0.00028,0.21525,230.0,0.01,461.0,NaN,8.45
71184,3/25/2022 16:00,452.55,3/25/2022,0.0,0.00361,0.00241,0.00210,-0.00533,-0.00033,0.23183,215.0,0.01,462.0,NaN,9.45

In [5]:
spy_data_v6 = spy_data_v5[
    (spy_data_v5['DTE'] <= 11.0) 
]

spy_data_v6.head()

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE
0,1/3/2022 9:30,476.43,1/7/2022,4.27,0.70825,0.04263,0.19128,-0.27604,0.04114,0.14597,2.0,5.75,472.0,0.009,-4.43
1,1/3/2022 9:30,476.43,1/7/2022,4.27,0.67386,0.04767,0.20066,-0.27348,0.03987,0.13666,0.0,4.34,473.0,0.007,-3.43
2,1/3/2022 9:30,476.43,1/7/2022,4.27,0.62598,0.05055,0.21136,-0.28773,0.03788,0.13515,1.0,4.26,474.0,0.005,-2.43
3,1/3/2022 9:30,476.43,1/7/2022,4.27,0.57735,0.05466,0.21805,-0.28592,0.03511,0.12942,32.0,3.62,475.0,0.003,-1.43
4,1/3/2022 9:30,476.43,1/7/2022,4.27,0.52223,0.05633,0.22191,-0.28818,0.03208,0.12704,22.0,3.04,476.0,0.001,-0.43

In [6]:
# combine strike and expire date to make a unique identifier
spy_data_v6['CONTRACT'] = spy_data_v6['STRIKE'].astype(str) + spy_data_v6['EXPIRE_DATE']
spy_data_v6

C:\Users\barkf\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE,CONTRACT
0,1/3/2022 9:30,476.43,1/7/2022,4.27,0.70825,0.04263,0.19128,-0.27604,0.04114,0.14597,2.0,5.75,472.0,0.009,-4.43,472.01/7/2022
1,1/3/2022 9:30,476.43,1/7/2022,4.27,0.67386,0.04767,0.20066,-0.27348,0.03987,0.13666,0.0,4.34,473.0,0.007,-3.43,473.01/7/2022
2,1/3/2022 9:30,476.43,1/7/2022,4.27,0.62598,0.05055,0.21136,-0.28773,0.03788,0.13515,1.0,4.26,474.0,0.005,-2.43,474.01/7/2022
3,1/3/2022 9:30,476.43,1/7/2022,4.27,0.57735,0.05466,0.21805,-0.28592,0.03511,0.12942,32.0,3.62,475.0,0.003,-1.43,475.01/7/2022
4,1/3/2022 9:30,476.43,1/7/2022,4.27,0.52223,0.05633,0.22191,-0.28818,0.03208,0.12704,22.0,3.04,476.0,0.001,-0.43,476.01/7/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71180,3/25/2022 16:00,452.55,3/25/2022,0.00,0.00476,0.00494,0.00258,-0.00533,0.00014,0.16389,2702.0,0.01,458.0,NaN,5.45,458.03/25/2022
71181,3/25/2022 16:00,452.55,3/25/2022,0.00,0.00503,0.00398,0.00258,-0.00451,-0.00019,0.18157,3424.0,0.01,459.0,NaN,6.45,459.03/25/2022
71182,3/25/2022 16:00,452.55,3/25/2022,0.00,0.00459,0.00328,0.00284,-0.00507,-0.00030,0.19885,1109.0,0.01,460.0,NaN,7.45,460.03/25/2022
71183,3/25/2022 16:00,452.55,3/25/2022,0.00,0.00350,0.00282,0.00280,-0.00491,-0.00028,0.21525,230.0,0.01,461.0,NaN,8.45,461.03/25/2022
71184,3/25/2022 16:00,452.55,3/25/2022,0.00,0.00361,0.00241,0.00210,-0.00533,-0.00033,0.23183,215.0,0.01,462.0,NaN,9.45,462.03/25/2022

In [7]:
# spy_data_v6.to_csv("./Resources/spycallsV4.csv", index=None)

In [8]:
spy_data_v7 = spy_data_v6.set_index('CONTRACT')

In [9]:
spy_data_v7

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE
CONTRACT,,,,,,,,,,,,,,,
472.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.70825,0.04263,0.19128,-0.27604,0.04114,0.14597,2.0,5.75,472.0,0.009,-4.43
473.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.67386,0.04767,0.20066,-0.27348,0.03987,0.13666,0.0,4.34,473.0,0.007,-3.43
474.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.62598,0.05055,0.21136,-0.28773,0.03788,0.13515,1.0,4.26,474.0,0.005,-2.43
475.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.57735,0.05466,0.21805,-0.28592,0.03511,0.12942,32.0,3.62,475.0,0.003,-1.43
476.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.52223,0.05633,0.22191,-0.28818,0.03208,0.12704,22.0,3.04,476.0,0.001,-0.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458.03/25/2022,3/25/2022 16:00,452.55,3/25/2022,0.00,0.00476,0.00494,0.00258,-0.00533,0.00014,0.16389,2702.0,0.01,458.0,NaN,5.45
459.03/25/2022,3/25/2022 16:00,452.55,3/25/2022,0.00,0.00503,0.00398,0.00258,-0.00451,-0.00019,0.18157,3424.0,0.01,459.0,NaN,6.45
460.03/25/2022,3/25/2022 16:00,452.55,3/25/2022,0.00,0.00459,0.00328,0.00284,-0.00507,-0.00030,0.19885,1109.0,0.01,460.0,NaN,7.45
461.03/25/2022,3/25/2022 16:00,452.55,3/25/2022,0.00,0.00350,0.00282,0.00280,-0.00491,-0.00028,0.21525,230.0,0.01,461.0,NaN,8.45
462.03/25/2022,3/25/2022 16:00,452.55,3/25/2022,0.00,0.00361,0.00241,0.00210,-0.00533,-0.00033,0.23183,215.0,0.01,462.0,NaN,9.45

In [10]:
spy_data_v7.loc['472.01/7/2022', : ]

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE
CONTRACT,,,,,,,,,,,,,,,
472.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.70825,0.04263,0.19128,-0.27604,0.04114,0.14597,2.0,5.75,472.0,0.009,-4.43
472.01/7/2022,1/3/2022 10:00,475.02,1/7/2022,4.25,0.65584,0.04906,0.20440,-0.28006,0.03857,0.13654,38.0,4.84,472.0,0.006,-3.02
472.01/7/2022,1/3/2022 10:30,476.72,1/7/2022,4.23,0.73815,0.04429,0.18098,-0.23779,0.04197,0.13388,159.0,5.77,472.0,0.010,-4.72
472.01/7/2022,1/3/2022 11:00,476.17,1/7/2022,4.21,0.71410,0.04656,0.18827,-0.25034,0.04033,0.13295,165.0,5.47,472.0,0.009,-4.17
472.01/7/2022,1/3/2022 11:30,475.50,1/7/2022,4.19,0.68249,0.04873,0.19633,-0.26581,0.03960,0.13395,179.0,4.90,472.0,0.007,-3.50
472.01/7/2022,1/3/2022 12:00,475.36,1/7/2022,4.17,0.67625,0.04970,0.19820,-0.26685,0.03916,0.13213,237.0,4.82,472.0,0.007,-3.36
472.01/7/2022,1/3/2022 12:30,475.93,1/7/2022,4.15,0.70956,0.04866,0.18873,-0.24575,0.03979,0.12973,242.0,4.93,472.0,0.008,-3.93
472.01/7/2022,1/3/2022 13:00,475.61,1/7/2022,4.12,0.69586,0.05015,0.19217,-0.25124,0.03927,0.12845,246.0,5.14,472.0,0.008,-3.61
472.01/7/2022,1/3/2022 13:30,476.06,1/7/2022,4.10,0.71790,0.04841,0.18525,-0.24265,0.04047,0.12912,257.0,5.17,472.0,0.009,-4.06
472.01/7/2022,1/3/2022 14:00,476.74,1/7/2022,4.08,0.74926,0.04555,0.17448,-0.22635,0.04103,0.12968,283.0,5.67,472.0,0.010,-4.74
472.01/7/2022,1/3/2022 14:30,476.92,1/7/2022,4.06,0.75744,0.04470,0.17146,-0.22489,0.04027,0.12994,303.0,5.78,472.0,0.010,-4.92
472.01/7/2022,1/4/2022 11:30,476.94,1/7/2022,3.19,0.74907,0.04518,0.15716,-0.27274,0.03133,0.14831,61.0,5.75,472.0,0.010,-4.94
472.01/7/2022,1/4/2022 13:00,476.81,1/7/2022,3.12,0.75654,0.04746,0.15365,-0.25486,0.03077,0.14102,128.0,6.22,472.0,0.010,-4.81
472.01/7/2022,1/4/2022 13:30,476.80,1/7/2022,3.10,0.75294,0.04698,0.15408,-0.26367,0.03126,0.14414,223.0,5.75,472.0,0.010,-4.80
472.01/7/2022,1/4/2022 14:00,475.72,1/7/2022,3.08,0.70026,0.05137,0.16900,-0.29941,0.02982,0.14352,286.0,4.85,472.0,0.008,-3.72
472.01/7/2022,1/4/2022 14:30,476.52,1/7/2022,3.06,0.74586,0.04925,0.15555,-0.26161,0.03038,0.13988,326.0,5.39,472.0,0.009,-4.52
472.01/7/2022,1/5/2022 12:00,476.56,1/7/2022,2.17,0.78744,0.05016,0.12299,-0.30000,0.02968,0.13617,108.0,5.12,472.0,0.010,-4.56
472.01/7/2022,1/5/2022 13:00,475.95,1/7/2022,2.12,0.76695,0.05553,0.12896,-0.31020,0.02775,0.13071,184.0,4.77,472.0,0.008,-3.95
472.01/7/2022,1/5/2022 13:30,475.86,1/7/2022,2.10,0.75452,0.05534,0.13143,-0.33291,0.02780,0.13555,223.0,4.73,472.0,0.008,-3.86
472.01/7/2022,1/5/2022 14:00,475.85,1/7/2022,2.08,0.75394,0.05536,0.13179,-0.33726,0.02696,0.13660,245.0,4.72,472.0,0.008,-3.85
472.01/7/2022,1/5/2022 14:30,473.41,1/7/2022,2.06,0.59755,0.06561,0.15982,-0.45271,0.02100,0.14238,525.0,3.16,472.0,0.003,-1.41
472.01/7/2022,1/5/2022 15:00,471.69,1/7/2022,2.04,0.48179,0.06772,0.16380,-0.47110,0.01756,0.14365,5059.0,2.17,472.0,0.001,0.31
472.01/7/2022,1/5/2022 15:30,470.30,1/7/2022,2.02,0.39372,0.06286,0.15713,-0.47275,0.01425,0.14999,10418.0,1.70,472.0,0.004,1.70
472.01/7/2022,1/5/2022 16:00,468.46,1/7/2022,2.00,0.28214,0.05591,0.13694,-0.40061,0.00991,0.14928,14760.0,1.05,472.0,0.008,3.54
472.01/7/2022,1/6/2022 9:30,467.92,1/7/2022,1.27,0.23127,0.05568,0.10522,-0.43687,0.00611,0.15811,8.0,0.74,472.0,0.009,4.08
472.01/7/2022,1/6/2022 10:00,466.90,1/7/2022,1.25,0.18026,0.04774,0.08985,-0.36169,0.00416,0.16021,4612.0,0.54,472.0,0.011,5.10
472.01/7/2022,1/6/2022 10:30,467.69,1/7/2022,1.23,0.21268,0.05443,0.09902,-0.40748,0.00548,0.15578,6064.0,0.64,472.0,0.009,4.31
472.01/7/2022,1/6/2022 11:00,468.75,1/7/2022,1.21,0.26308,0.06447,0.11196,-0.46154,0.00645,0.14826,8134.0,0.80,472.0,0.007,3.25
472.01/7/2022,1/6/2022 11:30,468.63,1/7/2022,1.19,0.25483,0.06371,0.10851,-0.45309,0.00588,0.14802,10357.0,0.77,472.0,0.007,3.37
472.01/7/2022,1/6/2022 12:00,469.22,1/7/2022,1.17,0.28061,0.07141,0.11362,-0.46078,0.00706,0.13933,11631.0,0.82,472.0,0.006,2.78
472.01/7/2022,1/6/2022 12:30,469.62,1/7/2022,1.15,0.31419,0.07299,0.11922,-0.51773,0.00797,0.14489,13145.0,0.97,472.0,0.005,2.38
472.01/7/2022,1/6/2022 13:00,469.58,1/7/2022,1.12,0.30928,0.07365,0.11787,-0.51189,0.00755,0.14324,17624.0,0.94,472.0,0.005,2.42
472.01/7/2022,1/6/2022 13:30,468.64,1/7/2022,1.10,0.24201,0.06589,0.10409,-0.42991,0.00607,0.14274,20501.0,0.68,472.0,0.007,3.36
472.01/7/2022,1/6/2022 14:00,469.02,1/7/2022,1.08,0.26462,0.07005,0.10766,-0.45812,0.00597,0.14092,23762.0,0.73,472.0,0.006,2.98
472.01/7/2022,1/6/2022 14:30,468.75,1/7/2022,1.06,0.23480,0.06923,0.10113,-0.40125,0.00556,0.13473,25350.0,0.60,472.0,0.007,3.25
472.01/7/2022,1/6/2022 15:00,469.41,1/7/2022,1.04,0.27722,0.07730,0.10992,-0.45350,0.00595,0.13303,26720.0,0.74,472.0,0.006,2.59
472.01/7/2022,1/6/2022 15:30,468.94,1/7/2022,1.02,0.23896,0.07313,0.10102,-0.39991,0.00526,0.13095,29220.0,0.56,472.0,0.007,3.06
472.01/7/2022,1/6/2022 16:00,467.93,1/7/2022,1.00,0.15210,0.06001,0.07571,-0.24918,0.00353,0.12200,32834.0,0.31,472.0,0.009,4.07
472.01/7/2022,1/7/2022 9:30,468.15,1/7/2022,0.27,0.11817,0.06045,0.04899,-0.19038,0.00121,0.13377,101.0,0.19,472.0,0.008,3.85
472.01/7/2022,1/7/2022 10:00,468.65,1/7/2022,0.25,0.13057,0.07022,0.05180,-0.19524,0.00157,0.12358,2579.0,0.20,472.0,0.007,3.35
472.01/7/2022,1/7/2022 10:30,466.99,1/7/2022,0.23,0.05049,0.03407,0.02503,-0.06499,0.00088,0.12816,4974.0,0.06,472.0,0.011,5.01
472.01/7/2022,1/7/2022 11:00,465.29,1/7/2022,0.21,0.02697,0.01771,0.01444,-0.03528,0.00011,0.14739,6860.0,0.04,472.0,0.014,6.71
472.01/7/2022,1/7/2022 11:30,466.50,1/7/2022,0.19,0.03043,0.02346,0.01684,-0.03476,0.00006,0.12620,7514.0,0.03,472.0,0.012,5.50
472.01/7/2022,1/7/2022 12:00,467.66,1/7/2022,0.17,0.04328,0.03620,0.02176,-0.04509,0.00030,0.10963,9582.0,0.05,472.0,0.009,4.34
472.01/7/2022,1/7/2022 12:30,467.08,1/7/2022,0.15,0.02571,0.02376,0.01385,-0.02514,0.00015,0.11115,9822.0,0.02,472.0,0.011,4.92
472.01/7/2022,1/7/2022 13:00,467.26,1/7/2022,0.12,0.02622,0.02505,0.01410,-0.02533,0.00058,0.10849,10458.0,0.03,472.0,0.010,4.74
472.01/7/2022,1/7/2022 13:30,467.03,1/7/2022,0.10,0.01820,0.01855,0.01039,-0.01565,0.00030,0.10650,11397.0,0.01,472.0,0.011,4.97
472.01/7/2022,1/7/2022 14:00,466.93,1/7/2022,0.08,0.01769,0.01807,0.00992,-0.01550,0.00059,0.10962,11730.0,0.01,472.0,0.011,5.07
472.01/7/2022,1/7/2022 14:30,466.55,1/7/2022,0.06,0.01161,0.01267,0.00653,-0.00945,-0.00007,0.11075,12307.0,0.01,472.0,0.012,5.45
472.01/7/2022,1/7/2022 15:00,467.47,1/7/2022,0.04,0.00848,0.01158,0.00489,-0.00513,-0.00030,0.08778,12715.0,0.01,472.0,0.010,4.53
472.01/7/2022,1/7/2022 15:30,466.96,1/7/2022,0.02,0.00763,0.00985,0.00458,-0.00517,0.00008,0.09789,13127.0,0.01,472.0,0.011,5.04
472.01/7/2022,1/7/2022 16:00,466.02,1/7/2022,0.00,0.00673,0.00752,0.00410,-0.00489,-0.00042,0.11587,13165.0,0.01,472.0,0.013,5.98

In [11]:
spy_data_v7.loc[spy_data_v7['DTE'] == 4.27, 'C_LAST']

CONTRACT
472.01/7/2022     5.75
473.01/7/2022     4.34
474.01/7/2022     4.26
475.01/7/2022     3.62
476.01/7/2022     3.04
                  ...
450.03/25/2022    1.84
451.03/25/2022    1.94
452.03/25/2022    1.63
453.03/25/2022    1.34
454.03/25/2022    1.09
Name: C_LAST, Length: 183, dtype: float64

In [12]:
spy_data_v7["PRICEOPEN"] = spy_data_v7.loc[spy_data_v7['DTE'] == 4.27, 'C_LAST']
spy_data_v7.head(50)

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE,PRICEOPEN
CONTRACT,,,,,,,,,,,,,,,,
472.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.70825,0.04263,0.19128,-0.27604,0.04114,0.14597,2.0,5.75,472.0,0.009,-4.43,5.75
473.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.67386,0.04767,0.20066,-0.27348,0.03987,0.13666,0.0,4.34,473.0,0.007,-3.43,4.34
474.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.62598,0.05055,0.21136,-0.28773,0.03788,0.13515,1.0,4.26,474.0,0.005,-2.43,4.26
475.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.57735,0.05466,0.21805,-0.28592,0.03511,0.12942,32.0,3.62,475.0,0.003,-1.43,3.62
476.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.52223,0.05633,0.22191,-0.28818,0.03208,0.12704,22.0,3.04,476.0,0.001,-0.43,3.04
477.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.46442,0.05760,0.22168,-0.28057,0.02945,0.12402,161.0,2.46,477.0,0.001,0.57,2.46
478.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.40460,0.05815,0.21613,-0.26381,0.02541,0.11971,0.0,1.51,478.0,0.003,1.57,1.51
479.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.34410,0.05669,0.20539,-0.24300,0.02228,0.11651,18.0,1.47,479.0,0.005,2.57,1.47
480.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.28555,0.05342,0.18943,-0.21847,0.01853,0.11426,3.0,1.14,480.0,0.007,3.57,1.14
481.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.22938,0.04873,0.17001,-0.18849,0.01505,0.11162,0.0,0.59,481.0,0.010,4.57,0.59
482.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.18152,0.04295,0.14686,-0.15945,0.01129,0.11027,1.0,0.60,482.0,0.012,5.57,0.60
483.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.13999,0.03651,0.12491,-0.13086,0.00907,0.10940,5.0,0.44,483.0,0.014,6.57,0.44
484.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.10348,0.03001,0.10159,-0.10200,0.00635,0.10735,0.0,0.19,484.0,0.016,7.57,0.19
485.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.07657,0.02406,0.08136,-0.07918,0.00486,0.10703,0.0,0.12,485.0,0.018,8.57,0.12
486.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.05530,0.01868,0.06334,-0.06070,0.00342,0.10757,0.0,0.08,486.0,0.020,9.57,0.08
471.01/7/2022,1/3/2022 10:00,475.02,1/7/2022,4.25,0.70100,0.04557,0.19246,-0.26531,0.04058,0.13890,45.0,5.74,471.0,0.008,-4.02,NaN
472.01/7/2022,1/3/2022 10:00,475.02,1/7/2022,4.25,0.65584,0.04906,0.20440,-0.28006,0.03857,0.13654,38.0,4.84,472.0,0.006,-3.02,5.75
473.01/7/2022,1/3/2022 10:00,475.02,1/7/2022,4.25,0.60759,0.05244,0.21351,-0.28774,0.03678,0.13320,49.0,4.26,473.0,0.004,-2.02,4.34
474.01/7/2022,1/3/2022 10:00,475.02,1/7/2022,4.25,0.55530,0.05516,0.21863,-0.29060,0.03403,0.12962,454.0,3.35,474.0,0.002,-1.02,4.26
475.01/7/2022,1/3/2022 10:00,475.02,1/7/2022,4.25,0.49954,0.05716,0.22116,-0.28650,0.03056,0.12579,1513.0,2.75,475.0,0.000,-0.02,3.62
476.01/7/2022,1/3/2022 10:00,475.02,1/7/2022,4.25,0.44251,0.05748,0.21924,-0.27843,0.02812,0.12416,1372.0,2.25,476.0,0.002,0.98,3.04
477.01/7/2022,1/3/2022 10:00,475.02,1/7/2022,4.25,0.38188,0.05720,0.21111,-0.26090,0.02404,0.12075,1606.0,1.76,477.0,0.004,1.98,2.46
478.01/7/2022,1/3/2022 10:00,475.02,1/7/2022,4.25,0.32289,0.05492,0.19891,-0.23999,0.02073,0.11781,1374.0,1.36,478.0,0.006,2.98,1.51
479.01/7/2022,1/3/2022 10:00,475.02,1/7/2022,4.25,0.26660,0.05129,0.18209,-0.21266,0.01701,0.11508,734.0,1.04,479.0,0.008,3.98,1.47
480.01/7/2022,1/3/2022 10:00,475.02,1/7/2022,4.25,0.21442,0.04626,0.16203,-0.18471,0.01387,0.11358,3613.0,0.75,480.0,0.010,4.98,1.14
481.01/7/2022,1/3/2022 10:00,475.02,1/7/2022,4.25,0.16673,0.04041,0.13920,-0.15243,0.01053,0.11131,456.0,0.54,481.0,0.013,5.98,0.59
482.01/7/2022,1/3/2022 10:00,475.02,1/7/2022,4.25,0.12673,0.03409,0.11659,-0.12343,0.00859,0.11065,462.0,0.38,482.0,0.015,6.98,0.60
483.01/7/2022,1/3/2022 10:00,475.02,1/7/2022,4.25,0.09431,0.02774,0.09432,-0.09594,0.00637,0.10951,254.0,0.28,483.0,0.017,7.98,0.44
484.01/7/2022,1/3/2022 10:00,475.02,1/7/2022,4.25,0.06723,0.02179,0.07309,-0.07160,0.00476,0.10744,382.0,0.21,484.0,0.019,8.98,0.19
485.01/7/2022,1/3/2022 10:00,475.02,1/7/2022,4.25,0.05042,0.01712,0.05784,-0.05549,0.00336,0.10853,947.0,0.13,485.0,0.021,9.98,0.12
472.01/7/2022,1/3/2022 10:30,476.72,1/7/2022,4.23,0.73815,0.04429,0.18098,-0.23779,0.04197,0.13388,159.0,5.77,472.0,0.010,-4.72,5.75
473.01/7/2022,1/3/2022 10:30,476.72,1/7/2022,4.23,0.69748,0.04878,0.19446,-0.25166,0.04068,0.12981,156.0,4.95,473.0,0.008,-3.72,4.34
474.01/7/2022,1/3/2022 10:30,476.72,1/7/2022,4.23,0.65063,0.05312,0.20602,-0.26242,0.03827,0.12657,788.0,4.25,474.0,0.006,-2.72,4.26
475.01/7/2022,1/3/2022 10:30,476.72,1/7/2022,4.23,0.59814,0.05673,0.21510,-0.26963,0.03581,0.12326,3154.0,3.54,475.0,0.004,-1.72,3.62
476.01/7/2022,1/3/2022 10:30,476.72,1/7/2022,4.23,0.54118,0.05946,0.22061,-0.27238,0.03366,0.12068,3427.0,2.98,476.0,0.002,-0.72,3.04
477.01/7/2022,1/3/2022 10:30,476.72,1/7/2022,4.23,0.48033,0.06117,0.22125,-0.26774,0.02964,0.11744,2840.0,2.39,477.0,0.001,0.28,2.46
478.01/7/2022,1/3/2022 10:30,476.72,1/7/2022,4.23,0.41745,0.06168,0.21717,-0.25520,0.02651,0.11422,2053.0,1.90,478.0,0.003,1.28,1.51
479.01/7/2022,1/3/2022 10:30,476.72,1/7/2022,4.23,0.35342,0.06030,0.20623,-0.23615,0.02195,0.11143,1246.0,1.45,479.0,0.005,2.28,1.47
480.01/7/2022,1/3/2022 10:30,476.72,1/7/2022,4.23,0.29127,0.05692,0.19102,-0.21136,0.01883,0.10896,4607.0,1.09,480.0,0.007,3.28,1.14
481.01/7/2022,1/3/2022 10:30,476.72,1/7/2022,4.23,0.23094,0.05192,0.16948,-0.18055,0.01449,0.10525,592.0,0.77,481.0,0.009,4.28,0.59
482.01/7/2022,1/3/2022 10:30,476.72,1/7/2022,4.23,0.17757,0.04539,0.14501,-0.14750,0.01103,0.10322,737.0,0.54,482.0,0.011,5.28,0.60
483.01/7/2022,1/3/2022 10:30,476.72,1/7/2022,4.23,0.13237,0.03795,0.11958,-0.11793,0.00828,0.10177,412.0,0.36,483.0,0.013,6.28,0.44
484.01/7/2022,1/3/2022 10:30,476.72,1/7/2022,4.23,0.09450,0.03043,0.09493,-0.08833,0.00605,0.10023,503.0,0.27,484.0,0.015,7.28,0.19
485.01/7/2022,1/3/2022 10:30,476.72,1/7/2022,4.23,0.06832,0.02368,0.07346,-0.06743,0.00476,0.09995,1105.0,0.16,485.0,0.017,8.28,0.12
486.01/7/2022,1/3/2022 10:30,476.72,1/7/2022,4.23,0.04671,0.01773,0.05436,-0.04812,0.00291,0.09878,738.0,0.09,486.0,0.019,9.28,0.08
472.01/7/2022,1/3/2022 11:00,476.17,1/7/2022,4.21,0.71410,0.04656,0.18827,-0.25034,0.04033,0.13295,165.0,5.47,472.0,0.009,-4.17,5.75
473.01/7/2022,1/3/2022 11:00,476.17,1/7/2022,4.21,0.67012,0.05084,0.20052,-0.26206,0.03927,0.12975,188.0,4.55,473.0,0.007,-3.17,4.34
474.01/7/2022,1/3/2022 11:00,476.17,1/7/2022,4.21,0.62111,0.05483,0.21107,-0.27113,0.03735,0.12584,894.0,3.95,474.0,0.005,-2.17,4.26
475.01/7/2022,1/3/2022 11:00,476.17,1/7/2022,4.21,0.56664,0.05814,0.21792,-0.27439,0.03423,0.12280,3453.0,3.20,475.0,0.002,-1.17,3.62
476.01/7/2022,1/3/2022 11:00,476.17,1/7/2022,4.21,0.50787,0.06058,0.22031,-0.27194,0.03151,0.11885,4213.0,2.65,476.0,0.000,-0.17,3.04

In [13]:
spy_data_v7["PRICECLOSE"] = spy_data_v7.loc[spy_data_v7['DTE'] == 2.0, 'C_LAST']
spy_data_v7.head()

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE,PRICEOPEN,PRICECLOSE
CONTRACT,,,,,,,,,,,,,,,,,
472.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.70825,0.04263,0.19128,-0.27604,0.04114,0.14597,2.0,5.75,472.0,0.009,-4.43,5.75,1.05
473.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.67386,0.04767,0.20066,-0.27348,0.03987,0.13666,0.0,4.34,473.0,0.007,-3.43,4.34,0.77
474.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.62598,0.05055,0.21136,-0.28773,0.03788,0.13515,1.0,4.26,474.0,0.005,-2.43,4.26,0.55
475.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.57735,0.05466,0.21805,-0.28592,0.03511,0.12942,32.0,3.62,475.0,0.003,-1.43,3.62,0.39
476.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.52223,0.05633,0.22191,-0.28818,0.03208,0.12704,22.0,3.04,476.0,0.001,-0.43,3.04,0.29

In [14]:
spy_data_v7['ROI3'] = spy_data_v7["PRICECLOSE"] / spy_data_v7['PRICEOPEN']
spy_data_v7.head(100)

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE,PRICEOPEN,PRICECLOSE,ROI3
CONTRACT,,,,,,,,,,,,,,,,,,
472.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.70825,0.04263,0.19128,-0.27604,0.04114,0.14597,2.0,5.75,472.0,0.009,-4.43,5.75,1.05,0.182609
473.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.67386,0.04767,0.20066,-0.27348,0.03987,0.13666,0.0,4.34,473.0,0.007,-3.43,4.34,0.77,0.177419
474.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.62598,0.05055,0.21136,-0.28773,0.03788,0.13515,1.0,4.26,474.0,0.005,-2.43,4.26,0.55,0.129108
475.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.57735,0.05466,0.21805,-0.28592,0.03511,0.12942,32.0,3.62,475.0,0.003,-1.43,3.62,0.39,0.107735
476.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.52223,0.05633,0.22191,-0.28818,0.03208,0.12704,22.0,3.04,476.0,0.001,-0.43,3.04,0.29,0.095395
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476.01/7/2022,1/3/2022 12:30,475.93,1/7/2022,4.15,0.49308,0.06257,0.21889,-0.26709,0.02988,0.11649,7451.0,2.46,476.0,0.000,0.07,3.04,0.29,0.095395
477.01/7/2022,1/3/2022 12:30,475.93,1/7/2022,4.15,0.42847,0.06327,0.21584,-0.25620,0.02646,0.11277,5923.0,1.94,477.0,0.002,1.07,2.46,0.21,0.085366
478.01/7/2022,1/3/2022 12:30,475.93,1/7/2022,4.15,0.36305,0.06220,0.20630,-0.23724,0.02295,0.10998,3742.0,1.47,478.0,0.004,2.07,1.51,0.15,0.099338
479.01/7/2022,1/3/2022 12:30,475.93,1/7/2022,4.15,0.29822,0.05907,0.19065,-0.21178,0.01885,0.10691,2551.0,1.09,479.0,0.006,3.07,1.47,NaN,NaN
480.01/7/2022,1/3/2022 12:30,475.93,1/7/2022,4.15,0.23575,0.05391,0.16981,-0.18106,0.01454,0.10371,8576.0,0.78,480.0,0.009,4.07,1.14,NaN,NaN

In [15]:
## spy_data_v8 = spy_data_v7.drop(columns= ['ROI2', 'ROI1'])
## spy_data_v8.head()

In [16]:
spy_data_v7['ROI %'] = (spy_data_v7['ROI3'] - 1) * 100
spy_data_v7.head(100)

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE,PRICEOPEN,PRICECLOSE,ROI3,ROI %
CONTRACT,,,,,,,,,,,,,,,,,,,
472.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.70825,0.04263,0.19128,-0.27604,0.04114,0.14597,2.0,5.75,472.0,0.009,-4.43,5.75,1.05,0.182609,-81.739130
473.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.67386,0.04767,0.20066,-0.27348,0.03987,0.13666,0.0,4.34,473.0,0.007,-3.43,4.34,0.77,0.177419,-82.258065
474.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.62598,0.05055,0.21136,-0.28773,0.03788,0.13515,1.0,4.26,474.0,0.005,-2.43,4.26,0.55,0.129108,-87.089202
475.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.57735,0.05466,0.21805,-0.28592,0.03511,0.12942,32.0,3.62,475.0,0.003,-1.43,3.62,0.39,0.107735,-89.226519
476.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.52223,0.05633,0.22191,-0.28818,0.03208,0.12704,22.0,3.04,476.0,0.001,-0.43,3.04,0.29,0.095395,-90.460526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476.01/7/2022,1/3/2022 12:30,475.93,1/7/2022,4.15,0.49308,0.06257,0.21889,-0.26709,0.02988,0.11649,7451.0,2.46,476.0,0.000,0.07,3.04,0.29,0.095395,-90.460526
477.01/7/2022,1/3/2022 12:30,475.93,1/7/2022,4.15,0.42847,0.06327,0.21584,-0.25620,0.02646,0.11277,5923.0,1.94,477.0,0.002,1.07,2.46,0.21,0.085366,-91.463415
478.01/7/2022,1/3/2022 12:30,475.93,1/7/2022,4.15,0.36305,0.06220,0.20630,-0.23724,0.02295,0.10998,3742.0,1.47,478.0,0.004,2.07,1.51,0.15,0.099338,-90.066225
479.01/7/2022,1/3/2022 12:30,475.93,1/7/2022,4.15,0.29822,0.05907,0.19065,-0.21178,0.01885,0.10691,2551.0,1.09,479.0,0.006,3.07,1.47,NaN,NaN,NaN
480.01/7/2022,1/3/2022 12:30,475.93,1/7/2022,4.15,0.23575,0.05391,0.16981,-0.18106,0.01454,0.10371,8576.0,0.78,480.0,0.009,4.07,1.14,NaN,NaN,NaN

In [17]:
spy_data_v8 = spy_data_v7.drop(columns= ['ROI3'])
spy_data_v8.head()

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE,PRICEOPEN,PRICECLOSE,ROI %
CONTRACT,,,,,,,,,,,,,,,,,,
472.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.70825,0.04263,0.19128,-0.27604,0.04114,0.14597,2.0,5.75,472.0,0.009,-4.43,5.75,1.05,-81.739130
473.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.67386,0.04767,0.20066,-0.27348,0.03987,0.13666,0.0,4.34,473.0,0.007,-3.43,4.34,0.77,-82.258065
474.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.62598,0.05055,0.21136,-0.28773,0.03788,0.13515,1.0,4.26,474.0,0.005,-2.43,4.26,0.55,-87.089202
475.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.57735,0.05466,0.21805,-0.28592,0.03511,0.12942,32.0,3.62,475.0,0.003,-1.43,3.62,0.39,-89.226519
476.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.52223,0.05633,0.22191,-0.28818,0.03208,0.12704,22.0,3.04,476.0,0.001,-0.43,3.04,0.29,-90.460526

# Cut values after 2.0 DTE ***

## Y Classification

# Create a 'y' column for our % profit/loss categories (0,1,2,3,4) 
# in % terms
# 0 is <-60 = strong sell
# 1 is (>-60 to -10) = sell
# 2 is (>-10 to 10) = pass
# 3 is (>10-60) = buy
# 4 is >60 = strong buy

In [65]:
ydf = spy_data_v8
conditions = [
    (ydf['ROI %'] >= -60.00),
    (ydf['ROI %'] > -10.00) & (ydf['ROI %'] < -60.00),
    (ydf['ROI %'] > -10.00) & (ydf['ROI %'] < 10.00),
    (ydf['ROI %'] > 10) & (ydf['ROI %'] < 60.00),
    (ydf['ROI %'] >= 60.00)
]

In [66]:
values = ['0', '1', '2', '3', '4']

In [67]:
ydf['Y'] = np.select(conditions, values)

In [68]:
ydf.head(100)

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE,PRICEOPEN,PRICECLOSE,ROI %,Y
CONTRACT,,,,,,,,,,,,,,,,,,,
472.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.70825,0.04263,0.19128,-0.27604,0.04114,0.14597,2.0,5.75,472.0,0.009,-4.43,5.75,1.05,-81.739130,0
473.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.67386,0.04767,0.20066,-0.27348,0.03987,0.13666,0.0,4.34,473.0,0.007,-3.43,4.34,0.77,-82.258065,0
474.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.62598,0.05055,0.21136,-0.28773,0.03788,0.13515,1.0,4.26,474.0,0.005,-2.43,4.26,0.55,-87.089202,0
475.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.57735,0.05466,0.21805,-0.28592,0.03511,0.12942,32.0,3.62,475.0,0.003,-1.43,3.62,0.39,-89.226519,0
476.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.52223,0.05633,0.22191,-0.28818,0.03208,0.12704,22.0,3.04,476.0,0.001,-0.43,3.04,0.29,-90.460526,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476.01/7/2022,1/3/2022 12:30,475.93,1/7/2022,4.15,0.49308,0.06257,0.21889,-0.26709,0.02988,0.11649,7451.0,2.46,476.0,0.000,0.07,3.04,0.29,-90.460526,0
477.01/7/2022,1/3/2022 12:30,475.93,1/7/2022,4.15,0.42847,0.06327,0.21584,-0.25620,0.02646,0.11277,5923.0,1.94,477.0,0.002,1.07,2.46,0.21,-91.463415,0
478.01/7/2022,1/3/2022 12:30,475.93,1/7/2022,4.15,0.36305,0.06220,0.20630,-0.23724,0.02295,0.10998,3742.0,1.47,478.0,0.004,2.07,1.51,0.15,-90.066225,0
479.01/7/2022,1/3/2022 12:30,475.93,1/7/2022,4.15,0.29822,0.05907,0.19065,-0.21178,0.01885,0.10691,2551.0,1.09,479.0,0.006,3.07,1.47,NaN,NaN,0
480.01/7/2022,1/3/2022 12:30,475.93,1/7/2022,4.15,0.23575,0.05391,0.16981,-0.18106,0.01454,0.10371,8576.0,0.78,480.0,0.009,4.07,1.14,NaN,NaN,0

In [63]:
ydf.to_csv("./Resources/spycallsfinal1.csv")