In [1]:
import pandas as pd 
import numpy as np 
from pathlib import Path

In [2]:
spy_feb_raw = pd.read_csv("./Resources/spy_30x_202202.txt")
spy_feb_raw.to_csv("./Resources/spy_30x_202202.csv", index=None)

/Users/nicoleroberts/opt/anaconda3/envs/dev/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (15,17,18,20,21,23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
spy_feb_raw.head()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99757,0.00011,...,0.01,-0.00009,0.00002,0.00049,-0.00530,-0.00022,1.650550,0.000000,150.7,0.334
1,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99739,0.00012,...,0.01,-0.00007,0.00003,0.00015,-0.00545,-0.00033,1.587310,0.000000,145.7,0.323
2,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99781,0.00015,...,0.01,-0.00021,0.00000,0.00025,-0.00483,-0.00029,1.524950,0.000000,140.7,0.312
3,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99691,0.00011,...,0.01,-0.00051,0.00002,0.00051,-0.00488,-0.00017,1.463620,0.000000,135.7,0.301
4,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99810,0.00011,...,0.01,-0.00012,0.00005,0.00089,-0.00474,-0.00036,1.402770,0.000000,130.7,0.290

In [4]:
# Dropping all the PUT columns since it is not needed 

spy_feb_raw.drop(spy_feb_raw.iloc[:, 20:31], inplace = True , axis=1)

spy_feb_raw.tail()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
1364729,1646082000,2022-02-28 16:00,2022-02-28,16.0,436.52,2024-12-20,1734728400,1026.0,0.06257,0.00101,...,0.68690,0.165710,0.000000,4.0,1 x 1,2.0,3.98,700.0,263.5,0.604
1364730,1646082000,2022-02-28 16:00,2022-02-28,16.0,436.52,2024-12-20,1734728400,1026.0,0.10465,0.00122,...,1.10988,0.198390,0.000000,3.62,2 x 10,2.8,10.0,705.0,268.5,0.615
1364731,1646082000,2022-02-28 16:00,2022-02-28,16.0,436.52,2024-12-20,1734728400,1026.0,0.09564,0.00117,...,1.01780,0.195050,1.000000,3.5,2 x 1,2.8,8.5,710.0,273.5,0.626
1364732,1646082000,2022-02-28 16:00,2022-02-28,16.0,436.52,2024-12-20,1734728400,1026.0,0.09443,0.00117,...,1.00567,0.196260,2.000000,2.88,2 x 1,2.8,8.44,715.0,278.5,0.638
1364733,1646082000,2022-02-28 16:00,2022-02-28,16.0,436.52,2024-12-20,1734728400,1026.0,0.05912,0.00094,...,0.64620,0.172470,6.000000,2.9,1 x 2,2.8,3.0,720.0,283.5,0.649

In [5]:
spy_jan_raw = pd.read_csv("./Resources/spy_30x_202201.txt")
spy_jan_raw.to_csv("./Resources/spy_30x_202201.csv", index=None)

/Users/nicoleroberts/opt/anaconda3/envs/dev/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (15,17,18,20,21,23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
spy_jan_raw.head()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88342,0.00007,...,0.01,0.00000,0.00004,0.00004,-0.00491,0.0,3.921640,0.000000,241.4,0.507
1,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,1.00000,0.00000,...,0.01,-0.00015,0.00003,-0.00017,-0.00495,0.0,3.809690,0.000000,236.4,0.496
2,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88804,-0.00002,...,0.01,-0.00025,-0.00002,0.00045,-0.00460,0.0,3.700490,0.000000,231.4,0.486
3,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88920,0.00000,...,0.01,-0.00004,0.00003,-0.00018,-0.00544,0.0,3.593250,0.000000,226.4,0.475
4,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,1.00000,0.00000,...,0.01,-0.00044,0.00005,0.00032,-0.00536,0.0,3.487810,0.000000,221.4,0.465

In [7]:
# Dropping all the PUT columns since it is not needed - how to get the last 2 rows back tho?

spy_jan_raw.drop(spy_jan_raw.iloc[:, 20:31], inplace = True , axis=1)

spy_jan_raw.tail()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
1380927,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.0,0.07679,0.00113,...,0.88752,0.163330,0.000000,3.1,2 x 1,3.1,4.7,700.0,250.1,0.556
1380928,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.0,0.11080,0.00127,...,1.24206,0.188030,0.000000,3.25,1 x 51,3.05,10.5,705.0,255.1,0.567
1380929,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.0,0.05495,0.00095,...,0.64791,0.153460,0.000000,2.81,50 x 1,0.02,5.0,710.0,260.1,0.578
1380930,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.0,0.06362,0.00100,...,0.73814,0.161280,1.000000,3.05,1 x 1,2.95,3.23,715.0,265.1,0.589
1380931,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.0,0.05880,0.00099,...,0.68530,0.160340,24.000000,2.0,1 x 1,2.67,2.95,720.0,270.1,0.600

In [8]:
spy_mar_raw = pd.read_csv("./Resources/spy_30x_202203.txt")
spy_mar_raw.to_csv("./Resources/spy_30x_202203.csv", index=None)

/Users/nicoleroberts/opt/anaconda3/envs/dev/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (15,17,18,20,21,23,29) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [9]:
# Dropping all the PUT columns since it is not needed - how to get the last 2 rows back tho?

spy_mar_raw.drop(spy_mar_raw.iloc[:, 20:31], inplace = True , axis=1)

spy_mar_raw.tail()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
1547947,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08611,0.00127,...,0.93677,0.172830,0.000000,4.94,2 x 1,2.7,6.46,700.0,248.2,0.549
1547948,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09348,0.00122,...,1.01010,0.180860,0.000000,3.07,1 x 2,3.0,7.5,705.0,253.2,0.561
1547949,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09002,0.00120,...,0.97074,0.180970,0.000000,4.05,1 x 1,3.01,7.0,710.0,258.2,0.572
1547950,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08860,0.00120,...,0.96048,0.183300,0.000000,4.72,1 x 4,3.0,7.0,715.0,263.2,0.583
1547951,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.07671,0.00112,...,0.82983,0.176950,0.000000,4.17,1 x 1,3.59,4.5,720.0,268.2,0.594

In [10]:
spy_data_raw = pd.concat([spy_jan_raw, spy_feb_raw, spy_mar_raw])

In [11]:
display(spy_data_raw.iloc[1380930:])

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
1380930,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.00,0.06362,0.00100,...,0.73814,0.161280,1.000000,3.05,1 x 1,2.95,3.23,715.0,265.1,0.589
1380931,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.00,0.05880,0.00099,...,0.68530,0.160340,24.000000,2.0,1 x 1,2.67,2.95,720.0,270.1,0.600
0,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99757,0.00011,...,0.01638,2.008630,,0.000000,20 x 20,150.560000,150.970000,300.0,150.7,0.334
1,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99739,0.00012,...,0.01685,1.933080,,0.000000,20 x 20,145.560000,145.970000,305.0,145.7,0.323
2,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99781,0.00015,...,0.01701,1.858600,,0.000000,20 x 20,140.560000,140.970000,310.0,140.7,0.312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1547947,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08611,0.00127,...,0.93677,0.172830,0.000000,4.94,2 x 1,2.7,6.46,700.0,248.2,0.549
1547948,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09348,0.00122,...,1.01010,0.180860,0.000000,3.07,1 x 2,3.0,7.5,705.0,253.2,0.561
1547949,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09002,0.00120,...,0.97074,0.180970,0.000000,4.05,1 x 1,3.01,7.0,710.0,258.2,0.572
1547950,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08860,0.00120,...,0.96048,0.183300,0.000000,4.72,1 x 4,3.0,7.0,715.0,263.2,0.583
1547951,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.07671,0.00112,...,0.82983,0.176950,0.000000,4.17,1 x 1,3.59,4.5,720.0,268.2,0.594

In [12]:
display(spy_data_raw.head())
display(spy_data_raw.tail())

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88342,0.00007,...,0.00063,9.994200,,0.0,10 x 1,240.91,242.8,235.0,241.4,0.507
1,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,1.00000,0.00000,...,0.00000,,,0.0,1 x 20,235.59,236.46,240.0,236.4,0.496
2,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88804,-0.00002,...,0.00056,9.098910,,0.0,10 x 105,230.96,232.15,245.0,231.4,0.486
3,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88920,0.00000,...,0.00122,8.835610,,0.0,10 x 1,225.96,227.78,250.0,226.4,0.475
4,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,1.00000,0.00000,...,0.00000,,,0.0,105 x 1,220.65,221.91,255.0,221.4,0.465

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
1547947,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08611,0.00127,...,0.93677,0.172830,0.000000,4.94,2 x 1,2.7,6.46,700.0,248.2,0.549
1547948,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09348,0.00122,...,1.01010,0.180860,0.000000,3.07,1 x 2,3.0,7.5,705.0,253.2,0.561
1547949,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09002,0.00120,...,0.97074,0.180970,0.000000,4.05,1 x 1,3.01,7.0,710.0,258.2,0.572
1547950,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08860,0.00120,...,0.96048,0.183300,0.000000,4.72,1 x 4,3.0,7.0,715.0,263.2,0.583
1547951,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.07671,0.00112,...,0.82983,0.176950,0.000000,4.17,1 x 1,3.59,4.5,720.0,268.2,0.594

In [13]:
#spy_data_v1 = spy_data_raw.drop(columns=["[QUOTE_UNIXTIME]", "[QUOTE_DATE]",  "[QUOTE_TIME_HOURS]', '[EXPIRE_UNIX]','[C_BID]', '[C_ASK]' , '[C_SIZE]'])

#spy_data_v2 = spy_data_raw.drop(columns=["[QUOTE_UNIXTIME]"," [QUOTE_DATE]", " [QUOTE_TIME_HOURS]", " [EXPIRE_UNIX]", " [C_BID]", " [C_ASK]", " [C_SIZE]"])

spy_data_raw.columns

Index(['[QUOTE_UNIXTIME]', ' [QUOTE_READTIME]', ' [QUOTE_DATE]',
       ' [QUOTE_TIME_HOURS]', ' [UNDERLYING_LAST]', ' [EXPIRE_DATE]',
       ' [EXPIRE_UNIX]', ' [DTE]', ' [C_DELTA]', ' [C_GAMMA]', ' [C_VEGA]',
       ' [C_THETA]', ' [C_RHO]', ' [C_IV]', ' [C_VOLUME]', ' [C_LAST]',
       ' [C_SIZE]', ' [C_BID]', ' [C_ASK]', ' [STRIKE]', ' [STRIKE_DISTANCE]',
       ' [STRIKE_DISTANCE_PCT]'],
      dtype='object')

In [14]:
spy_data_v2 = spy_data_raw.drop(columns=["[QUOTE_UNIXTIME]"," [QUOTE_DATE]", " [QUOTE_TIME_HOURS]", " [EXPIRE_UNIX]", " [C_BID]", " [C_ASK]", " [C_SIZE]"])

In [15]:
spy_data_v2.head()

,[QUOTE_READTIME],[UNDERLYING_LAST],[EXPIRE_DATE],[DTE],[C_DELTA],[C_GAMMA],[C_VEGA],[C_THETA],[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88342,0.00007,0.02894,-0.42476,0.00063,9.994200,,0.0,235.0,241.4,0.507
1,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,,0.0,240.0,236.4,0.496
2,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88804,-0.00002,0.02824,-0.12471,0.00056,9.098910,,0.0,245.0,231.4,0.486
3,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88920,0.00000,0.02923,-0.43999,0.00122,8.835610,,0.0,250.0,226.4,0.475
4,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,,0.0,255.0,221.4,0.465

In [16]:
# fixing the format of the column names 

spy_data_v2.rename(columns = {' [QUOTE_READTIME]': 'QUOTE_READTIME',' [UNDERLYING_LAST]': 'UNDERLYING_LAST', ' [EXPIRE_DATE]' : 'EXPIRE_DATE', ' [DTE]': 'DTE', ' [C_DELTA]' : 'C_DELTA', ' [C_GAMMA]' : 'C_GAMMA', ' [C_VEGA]': 'C_VEGA', ' [C_THETA]': 'C_THETA', ' [C_RHO]': 'C_RHO', ' [C_IV]': 'C_IV', ' [C_VOLUME]': 'C_VOLUME', ' [C_LAST]': 'C_LAST', ' [STRIKE]': 'STRIKE', ' [STRIKE_DISTANCE]': 'STRIKE_DISTANCE', ' [STRIKE_DISTANCE_PCT]': 'STRIKE_DISTANCE_PCT'}, inplace = True)

In [17]:
spy_data_v2.columns

Index(['QUOTE_READTIME', 'UNDERLYING_LAST', 'EXPIRE_DATE', 'DTE', 'C_DELTA',
       'C_GAMMA', 'C_VEGA', 'C_THETA', 'C_RHO', 'C_IV', 'C_VOLUME', 'C_LAST',
       'STRIKE', 'STRIKE_DISTANCE', 'STRIKE_DISTANCE_PCT'],
      dtype='object')

In [ ]:
spy_data_v2.head()

In [18]:
spy_data_v2['STRIKE DISTANCE'] = spy_data_v2['STRIKE'] - spy_data_v2['UNDERLYING_LAST']

display(spy_data_v2.head())

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE
0,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88342,0.00007,0.02894,-0.42476,0.00063,9.994200,,0.0,235.0,241.4,0.507,-241.43
1,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,,0.0,240.0,236.4,0.496,-236.43
2,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88804,-0.00002,0.02824,-0.12471,0.00056,9.098910,,0.0,245.0,231.4,0.486,-231.43
3,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88920,0.00000,0.02923,-0.43999,0.00122,8.835610,,0.0,250.0,226.4,0.475,-226.43
4,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,,0.0,255.0,221.4,0.465,-221.43

In [19]:
spy_data_v3 = spy_data_v2.drop(columns=['STRIKE_DISTANCE'])
spy_data_v3.head()

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE
0,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88342,0.00007,0.02894,-0.42476,0.00063,9.994200,,0.0,235.0,0.507,-241.43
1,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,,0.0,240.0,0.496,-236.43
2,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88804,-0.00002,0.02824,-0.12471,0.00056,9.098910,,0.0,245.0,0.486,-231.43
3,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88920,0.00000,0.02923,-0.43999,0.00122,8.835610,,0.0,250.0,0.475,-226.43
4,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,,0.0,255.0,0.465,-221.43

In [33]:
spy_data_v3 = spy_data_v3[
    (spy_data_v3['DTE'] <= 5) 
]

spy_data_v3.head()

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE,CONTRACT
0,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88342,0.00007,0.02894,-0.42476,0.00063,9.994200,,0.0,235.0,0.507,-241.43,235.0 2022-01-03
1,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,,0.0,240.0,0.496,-236.43,240.0 2022-01-03
2,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88804,-0.00002,0.02824,-0.12471,0.00056,9.098910,,0.0,245.0,0.486,-231.43,245.0 2022-01-03
3,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88920,0.00000,0.02923,-0.43999,0.00122,8.835610,,0.0,250.0,0.475,-226.43,250.0 2022-01-03
4,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,,0.0,255.0,0.465,-221.43,255.0 2022-01-03

In [34]:
# combine strike and expire date to make a unique identifier
spy_data_v3['CONTRACT'] = spy_data_v3['STRIKE'].astype(str) + spy_data_v3['EXPIRE_DATE']
spy_data_v3

/Users/nicoleroberts/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE,CONTRACT
0,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88342,0.00007,0.02894,-0.42476,0.00063,9.994200,,0.0,235.0,0.507,-241.43,235.0 2022-01-03
1,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,,0.0,240.0,0.496,-236.43,240.0 2022-01-03
2,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88804,-0.00002,0.02824,-0.12471,0.00056,9.098910,,0.0,245.0,0.486,-231.43,245.0 2022-01-03
3,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88920,0.00000,0.02923,-0.43999,0.00122,8.835610,,0.0,250.0,0.475,-226.43,250.0 2022-01-03
4,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,,0.0,255.0,0.465,-221.43,255.0 2022-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1543733,2022-03-31 16:00,451.77,2022-04-04,4.00,0.00100,0.00024,0.00208,-0.00372,-0.00040,0.281080,,0.0,498.0,0.102,46.23,498.0 2022-04-04
1543734,2022-03-31 16:00,451.77,2022-04-04,4.00,0.00082,0.00024,0.00254,-0.00411,-0.00030,0.287160,0.000000,0.01,499.0,0.105,47.23,499.0 2022-04-04
1543735,2022-03-31 16:00,451.77,2022-04-04,4.00,0.00103,0.00028,0.00189,-0.00392,0.00048,0.291950,0.000000,0.01,500.0,0.107,48.23,500.0 2022-04-04
1543736,2022-03-31 16:00,451.77,2022-04-04,4.00,0.00074,0.00019,0.00174,-0.00387,0.00013,0.317940,,0.0,505.0,0.118,53.23,505.0 2022-04-04
1543737,2022-03-31 16:00,451.77,2022-04-04,4.00,0.00098,0.00016,0.00142,-0.00450,0.00048,0.343850,0.000000,0.01,510.0,0.129,58.23,510.0 2022-04-04

In [35]:
#spy_data_v3 = spy_data_v3.set_index('CONTRACT')

In [36]:
spy_data_v3.head()

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE,CONTRACT
0,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88342,0.00007,0.02894,-0.42476,0.00063,9.994200,,0.0,235.0,0.507,-241.43,235.0 2022-01-03
1,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,,0.0,240.0,0.496,-236.43,240.0 2022-01-03
2,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88804,-0.00002,0.02824,-0.12471,0.00056,9.098910,,0.0,245.0,0.486,-231.43,245.0 2022-01-03
3,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88920,0.00000,0.02923,-0.43999,0.00122,8.835610,,0.0,250.0,0.475,-226.43,250.0 2022-01-03
4,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,,0.0,255.0,0.465,-221.43,255.0 2022-01-03

In [37]:
# setting the index to the contract readtime  

# spy_data_v4 = spy_data_v3.set_index('QUOTE_READTIME')

In [50]:
inception = spy_data_v3[(spy_data_v3['STRIKE DISTANCE'] <= 15.00) & (spy_data_v3['STRIKE DISTANCE'] > -3.00)]

In [51]:
inception_filtered = inception.loc[inception['DTE'] == 4.27]

In [52]:
inception_filtered

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE,CONTRACT
342,2022-01-03 09:30,476.43,2022-01-07,4.27,0.62598,0.05055,0.21136,-0.28773,0.03788,0.135150,1.000000,4.26,474.0,0.005,-2.43,474.0 2022-01-07
343,2022-01-03 09:30,476.43,2022-01-07,4.27,0.57735,0.05466,0.21805,-0.28592,0.03511,0.129420,32.000000,3.62,475.0,0.003,-1.43,475.0 2022-01-07
344,2022-01-03 09:30,476.43,2022-01-07,4.27,0.52223,0.05633,0.22191,-0.28818,0.03208,0.127040,22.000000,3.04,476.0,0.001,-0.43,476.0 2022-01-07
345,2022-01-03 09:30,476.43,2022-01-07,4.27,0.46442,0.05760,0.22168,-0.28057,0.02945,0.124020,161.000000,2.46,477.0,0.001,0.57,477.0 2022-01-07
346,2022-01-03 09:30,476.43,2022-01-07,4.27,0.40460,0.05815,0.21613,-0.26381,0.02541,0.119710,0.000000,1.51,478.0,0.003,1.57,478.0 2022-01-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1285593,2022-03-28 09:30,452.14,2022-04-01,4.27,0.10404,0.02141,0.09494,-0.14686,0.00661,0.159670,0.000000,0.45,463.0,0.024,10.86,463.0 2022-04-01
1285594,2022-03-28 09:30,452.14,2022-04-01,4.27,0.08210,0.01815,0.07994,-0.12004,0.00473,0.158120,4.000000,0.32,464.0,0.026,11.86,464.0 2022-04-01
1285595,2022-03-28 09:30,452.14,2022-04-01,4.27,0.06440,0.01518,0.06626,-0.09577,0.00419,0.156190,0.000000,0.24,465.0,0.028,12.86,465.0 2022-04-01
1285596,2022-03-28 09:30,452.14,2022-04-01,4.27,0.04846,0.01233,0.05302,-0.07430,0.00333,0.154280,0.000000,0.18,466.0,0.031,13.86,466.0 2022-04-01
1285597,2022-03-28 09:30,452.14,2022-04-01,4.27,0.03680,0.00992,0.04252,-0.05791,0.00273,0.154120,0.000000,0.13,467.0,0.033,14.86,467.0 2022-04-01

In [53]:
criteria_list = inception_filtered["CONTRACT"]

In [54]:
criteria_list

342        474.0 2022-01-07
343        475.0 2022-01-07
344        476.0 2022-01-07
345        477.0 2022-01-07
346        478.0 2022-01-07
                 ...
1285593    463.0 2022-04-01
1285594    464.0 2022-04-01
1285595    465.0 2022-04-01
1285596    466.0 2022-04-01
1285597    467.0 2022-04-01
Name: CONTRACT, Length: 415, dtype: object

In [55]:
spy_data_v4 = spy_data_v3[spy_data_v3["CONTRACT"].isin(criteria_list)]

In [57]:
spy_data_v4.head(50)

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE,CONTRACT
342,2022-01-03 09:30,476.43,2022-01-07,4.27,0.62598,0.05055,0.21136,-0.28773,0.03788,0.135150,1.000000,4.26,474.0,0.005,-2.43,474.0 2022-01-07
343,2022-01-03 09:30,476.43,2022-01-07,4.27,0.57735,0.05466,0.21805,-0.28592,0.03511,0.129420,32.000000,3.62,475.0,0.003,-1.43,475.0 2022-01-07
344,2022-01-03 09:30,476.43,2022-01-07,4.27,0.52223,0.05633,0.22191,-0.28818,0.03208,0.127040,22.000000,3.04,476.0,0.001,-0.43,476.0 2022-01-07
345,2022-01-03 09:30,476.43,2022-01-07,4.27,0.46442,0.05760,0.22168,-0.28057,0.02945,0.124020,161.000000,2.46,477.0,0.001,0.57,477.0 2022-01-07
346,2022-01-03 09:30,476.43,2022-01-07,4.27,0.40460,0.05815,0.21613,-0.26381,0.02541,0.119710,0.000000,1.51,478.0,0.003,1.57,478.0 2022-01-07
347,2022-01-03 09:30,476.43,2022-01-07,4.27,0.34410,0.05669,0.20539,-0.24300,0.02228,0.116510,18.000000,1.47,479.0,0.005,2.57,479.0 2022-01-07
348,2022-01-03 09:30,476.43,2022-01-07,4.27,0.28555,0.05342,0.18943,-0.21847,0.01853,0.114260,3.000000,1.14,480.0,0.007,3.57,480.0 2022-01-07
349,2022-01-03 09:30,476.43,2022-01-07,4.27,0.22938,0.04873,0.17001,-0.18849,0.01505,0.111620,0.000000,0.59,481.0,0.010,4.57,481.0 2022-01-07
350,2022-01-03 09:30,476.43,2022-01-07,4.27,0.18152,0.04295,0.14686,-0.15945,0.01129,0.110270,1.000000,0.6,482.0,0.012,5.57,482.0 2022-01-07
351,2022-01-03 09:30,476.43,2022-01-07,4.27,0.13999,0.03651,0.12491,-0.13086,0.00907,0.109400,5.000000,0.44,483.0,0.014,6.57,483.0 2022-01-07
352,2022-01-03 09:30,476.43,2022-01-07,4.27,0.10348,0.03001,0.10159,-0.10200,0.00635,0.107350,0.000000,0.19,484.0,0.016,7.57,484.0 2022-01-07
353,2022-01-03 09:30,476.43,2022-01-07,4.27,0.07657,0.02406,0.08136,-0.07918,0.00486,0.107030,0.000000,0.12,485.0,0.018,8.57,485.0 2022-01-07
354,2022-01-03 09:30,476.43,2022-01-07,4.27,0.05530,0.01868,0.06334,-0.06070,0.00342,0.107570,0.000000,0.08,486.0,0.020,9.57,486.0 2022-01-07
355,2022-01-03 09:30,476.43,2022-01-07,4.27,0.03910,0.01429,0.04786,-0.04425,0.00209,0.107490,0.000000,0.06,487.0,0.022,10.57,487.0 2022-01-07
356,2022-01-03 09:30,476.43,2022-01-07,4.27,0.02852,0.01072,0.03713,-0.03303,0.00202,0.107680,0.000000,0.04,488.0,0.024,11.57,488.0 2022-01-07
357,2022-01-03 09:30,476.43,2022-01-07,4.27,0.02331,0.00888,0.03151,-0.02878,0.00105,0.112900,0.000000,0.03,489.0,0.026,12.57,489.0 2022-01-07
358,2022-01-03 09:30,476.43,2022-01-07,4.27,0.01569,0.00635,0.02257,-0.01973,0.00132,0.111960,0.000000,0.02,490.0,0.028,13.57,490.0 2022-01-07
359,2022-01-03 09:30,476.43,2022-01-07,4.27,0.01171,0.00474,0.01717,-0.01484,0.00056,0.114000,0.000000,0.01,491.0,0.031,14.57,491.0 2022-01-07
5106,2022-01-03 10:00,475.02,2022-01-07,4.25,0.55530,0.05516,0.21863,-0.29060,0.03403,0.129620,454.000000,3.35,474.0,0.002,-1.02,474.0 2022-01-07
5107,2022-01-03 10:00,475.02,2022-01-07,4.25,0.49954,0.05716,0.22116,-0.28650,0.03056,0.125790,1513.000000,2.75,475.0,0.000,-0.02,475.0 2022-01-07
5108,2022-01-03 10:00,475.02,2022-01-07,4.25,0.44251,0.05748,0.21924,-0.27843,0.02812,0.124160,1372.000000,2.25,476.0,0.002,0.98,476.0 2022-01-07
5109,2022-01-03 10:00,475.02,2022-01-07,4.25,0.38188,0.05720,0.21111,-0.26090,0.02404,0.120750,1606.000000,1.76,477.0,0.004,1.98,477.0 2022-01-07
5110,2022-01-03 10:00,475.02,2022-01-07,4.25,0.32289,0.05492,0.19891,-0.23999,0.02073,0.117810,1374.000000,1.36,478.0,0.006,2.98,478.0 2022-01-07
5111,2022-01-03 10:00,475.02,2022-01-07,4.25,0.26660,0.05129,0.18209,-0.21266,0.01701,0.115080,734.000000,1.04,479.0,0.008,3.98,479.0 2022-01-07
5112,2022-01-03 10:00,475.02,2022-01-07,4.25,0.21442,0.04626,0.16203,-0.18471,0.01387,0.113580,3613.000000,0.75,480.0,0.010,4.98,480.0 2022-01-07
5113,2022-01-03 10:00,475.02,2022-01-07,4.25,0.16673,0.04041,0.13920,-0.15243,0.01053,0.111310,456.000000,0.54,481.0,0.013,5.98,481.0 2022-01-07
5114,2022-01-03 10:00,475.02,2022-01-07,4.25,0.12673,0.03409,0.11659,-0.12343,0.00859,0.110650,462.000000,0.38,482.0,0.015,6.98,482.0 2022-01-07
5115,2022-01-03 10:00,475.02,2022-01-07,4.25,0.09431,0.02774,0.09432,-0.09594,0.00637,0.109510,254.000000,0.28,483.0,0.017,7.98,483.0 2022-01-07
5116,2022-01-03 10:00,475.02,2022-01-07,4.25,0.06723,0.02179,0.07309,-0.07160,0.00476,0.107440,382.000000,0.21,484.0,0.019,8.98,484.0 2022-01-07
5117,2022-01-03 10:00,475.02,2022-01-07,4.25,0.05042,0.01712,0.05784,-0.05549,0.00336,0.108530,947.000000,0.13,485.0,0.021,9.98,485.0 2022-01-07
5118,2022-01-03 10:00,475.02,2022-01-07,4.25,0.03557,0.01293,0.04427,-0.04123,0.00260,0.108510,718.000000,0.09,486.0,0.023,10.98,486.0 2022-01-07
5119,2022-01-03 10:00,475.02,2022-01-07,4.25,0.02391,0.00945,0.03246,-0.02907,0.00147,0.108310,137.000000,0.06,487.0,0.025,11.98,487.0 2022-01-07
5120,2022-01-03 10:00,475.02,2022-01-07,4.25,0.01935,0.00766,0.02722,-0.02514,0.00114,0.112410,83.000000,0.05,488.0,0.027,12.98,488.0 2022-01-07
5121,2022-01-03 10:00,475.02,2022-01-07,4.25,0.01369,0.00562,0.02023,-0.01759,0.00136,0.113100,40.000000,0.04,489.0,0.029,13.98,489.0 2022-01-07
5122,2022-01-03 10:00,475.02,2022-01-07,4.25,0.01132,0.00449,0.01672,-0.01538,0.00097,0.116760,317.000000,0.03,490.0,0.032,14.98,490.0 2022-01-07
5123,2022-01-03 10:00,475.02,2022-01-07,4.25,0.00704,0.00305,0.01087,-0.00977,0.00063,0.115600,15.000000,0.02,491.0,0.034,15.98,491.0 2022-01-07
9870,2022-01-03 10:30,476.72,2022-01-07,4.23,0.65063,0.05312,0.20602,-0.26242,0.03827,0.126570,788.000000,4.25,474.0,0.006,-2.72,474.0 2022-01-07
9871,2022-01-03 10:30,476.72,2022-01-07,4.23,0.59814,0.05673,0.21510,-0.26963,0.03581,0.123260,3154.000000,3.54,475.0,0.004,-1.72,475.0 2022-01-07
9872,2022-01-03 10:30,476.72,2022-01-07,4.23,0.54118,0.05946,0.22061,-0.27238,0.03366,0.120680,3427.000000,2.98,476.0,0.002,-0.72,476.0 2022-01-07
9873,2022-01-03 10:30,476.72,2022-01-07,4.23,0.48033,0.06117,0.22125,-0.26774,0.02964,0.117440,2840.000000,2.39,477.0,0.001,0.28,477.0 2022-01-07
9874,2022-01-03 10:30,476.72,2022-01-07,4.23,0.41745,0.06168,0.21717,-0.25520,0.02651,0.114220,2053.000000,1.9,478.0,0.003,1.28,478.0 2022-01-07
9875,2022-01-03 10:30,476.72,2022-01-07,4.23,0.35342,0.06030,0.20623,-0.23615,0.02195,0.111430,1246.000000,1.45,479.0,0.005,2.28,479.0 2022-01-07
9876,2022-01-03 10:30,476.72,2022-01-07,4.23,0.29127,0.05692,0.19102,-0.21136,0.01883,0.108960,4607.000000,1.09,480.0,0.007,3.28,480.0 2022-01-07
9877,2022-01-03 10:30,476.72,2022-01-07,4.23,0.23094,0.05192,0.16948,-0.18055,0.01449,0.105250,592.000000,0.77,481.0,0.009,4.28,481.0 2022-01-07
9878,2022-01-03 10:30,476.72,2022-01-07,4.23,0.17757,0.04539,0.14501,-0.14750,0.01103,0.103220,737.000000,0.54,482.0,0.011,5.28,482.0 2022-01-07
9879,2022-01-03 10:30,476.72,2022-01-07,4.23,0.13237,0.03795,0.11958,-0.11793,0.00828,0.101770,412.000000,0.36,483.0,0.013,6.28,483.0 2022-01-07
9880,2022-01-03 10:30,476.72,2022-01-07,4.23,0.09450,0.03043,0.09493,-0.08833,0.00605,0.100230,503.000000,0.27,484.0,0.015,7.28,484.0 2022-01-07
9881,2022-01-03 10:30,476.72,2022-01-07,4.23,0.06832,0.02368,0.07346,-0.06743,0.00476,0.099950,1105.000000,0.16,485.0,0.017,8.28,485.0 2022-01-07
9882,2022-01-03 10:30,476.72,2022-01-07,4.23,0.04671,0.01773,0.05436,-0.04812,0.00291,0.098780,738.000000,0.09,486.0,0.019,9.28,486.0 2022-01-07
9883,2022-01-03 10:30,476.72,2022-01-07,4.23,0.03360,0.01350,0.04296,-0.03636,0.00240,0.100470,205.000000,0.06,487.0,0.022,10.28,487.0 2022-01-07

In [58]:
spy_data_v4.to_csv("./Resources/spycallsX1.csv", index=None)

# Start Here

In [ ]:
import pandas as pd 
import numpy as np 
from pathlib import Path

In [ ]:
spy_path = Path('./Resources/spycallsV9.csv')
spy_data_v5 = pd.read_csv(spy_path)

In [ ]:
spy_data_v5.tail()

In [ ]:
spy_data_v6 = spy_data_v5[
    (spy_data_v5['DTE'] <= 11.0) 
]

spy_data_v6.head()

In [ ]:
# combine strike and expire date to make a unique identifier
spy_data_v6['CONTRACT'] = spy_data_v6['STRIKE'].astype(str) + spy_data_v6['EXPIRE_DATE']
spy_data_v6

In [ ]:
# spy_data_v6.to_csv("./Resources/spycallsV4.csv", index=None)

In [ ]:
spy_data_v7 = spy_data_v6.set_index('CONTRACT')

In [ ]:
spy_data_v7

In [ ]:
spy_data_v7.loc['472.01/7/2022', : ]

In [ ]:
spy_data_v7.loc[spy_data_v7['DTE'] == 4.27, 'C_LAST']

In [ ]:
spy_data_v7["PRICEOPEN"] = spy_data_v7.loc[spy_data_v7['DTE'] == 4.27, 'C_LAST']
spy_data_v7.head(50)

In [ ]:
spy_data_v7.loc['479.01/7/2022', : ]

In [ ]:
spy_data_v7["PRICECLOSE"] = spy_data_v7.loc[spy_data_v7['DTE'] == 2.0, 'C_LAST']
spy_data_v7.head(50)

In [ ]:
spy_data_v7['ROI3'] = spy_data_v7["PRICECLOSE"] / spy_data_v7['PRICEOPEN']
spy_data_v7.head(100)

In [ ]:
## spy_data_v8 = spy_data_v7.drop(columns= ['ROI2', 'ROI1'])
## spy_data_v8.head()

In [ ]:
spy_data_v7['ROI %'] = (spy_data_v7['ROI3'] - 1) * 100
spy_data_v7.head(100)

In [ ]:
spy_data_v8 = spy_data_v7.drop(columns= ['ROI3'])
spy_data_v8.head()

In [ ]:
# spy_data_v8.to_csv("./Resources/spycallsfinal2.csv")

## Start Here 2.0 using spycallsfinal2.csv

In [ ]:
import pandas as pd 
import numpy as np 
from pathlib import Path

spy_path = Path('./Resources/spycallsfinal2.csv')
spy_data_v8 = pd.read_csv(spy_path)

In [ ]:
spy_data_v8

# Cut values after 2.0 DTE ***

## Y Classification

# Create a 'y' column for our % profit/loss categories (0,1,2,3,4) 
# in % terms
# 0 is <-60 = strong sell
# 1 is (>-60 to -10) = sell
# 2 is (>-10 to 10) = pass
# 3 is (>10-60) = buy
# 4 is >60 = strong buy

In [ ]:
spy_data_v8.loc[spy_data_v8["ROI %"] <= -60, "y"] = 0
spy_data_v8.loc[(spy_data_v8["ROI %"] <= -10) & (spy_data_v8["ROI %"] > -60), "y"] = 1
spy_data_v8.loc[(spy_data_v8["ROI %"] <= 10) & (spy_data_v8["ROI %"] > -10), "y"] = 2
spy_data_v8.loc[(spy_data_v8["ROI %"] <= 60) & (spy_data_v8["ROI %"] > 10), "y"] = 3
spy_data_v8.loc[spy_data_v8["ROI %"] > 60, "y"] = 4

In [ ]:
spy_data_v8["y"].value_counts()

In [ ]:
spy_data_v8.dropna()

In [ ]:
spy_data_v8.describe()

In [ ]:
ydf = spy_data_v8
conditions = [
    (ydf['ROI %'] >= -85.000000),
    (ydf['ROI %'] > -10.000000) & (ydf['ROI %'] < -85.000000),
    (ydf['ROI %'] > -10.000000) & (ydf['ROI %'] < 10.000000),
    (ydf['ROI %'] > 10.000000) & (ydf['ROI %'] < 60.000000),
    (ydf['ROI %'] >= 60.000000)
]

values = ['0', '1', '2', '3', '4']

In [ ]:
ydf['Y'] = np.select(conditions, values)

In [ ]:
ydf.head(1000)

In [ ]:
ydf['Y'] = ydf.apply(lambda x: '0' if x['ROI %'] == '>= -60.00' else 
                                      ('1' if x['ROI %'] == 'condition_2' else 
                                      ('value if true 3' if x['column_name_check_3'] == 'condition_3' else 'default_value')),axis=1)

In [ ]:
if ydf['ROI %'] >= -60.00 :
    ydf['Y'] = 0
elif   
    ydf['ROI %'] > -10.00 & ydf['ROI %'] < -60.00 :
    ydf['Y'] = 1
elif
    ydf['ROI %'] > -10.00 & (ydf['ROI %'] < 10.00 :
    ydf['Y'] = 2
elif
    ydf['ROI %'] > 10) & ydf['ROI %'] < 60.00 :
    ydf['Y'] = 3
elif
    ydf['ROI %'] >= 60.00 :
    ydf['Y'] = 4

In [ ]:
# ydf.to_csv("./Resources/spycallsfinal1.csv")