In [1]:
import pandas as pd 
import numpy as np 
from pathlib import Path

In [2]:
spy_feb_raw = pd.read_csv("./Spy30 Min/spy_30x_202202.txt")
spy_feb_raw.to_csv("./Spy30 Min/spy_30x_202202.csv", index=None)

C:\Users\aarch\AppData\Local\Temp\ipykernel_11172\1082609253.py:1: DtypeWarning: Columns (15,17,18,20,21,23) have mixed types. Specify dtype option on import or set low_memory=False.
  spy_feb_raw = pd.read_csv("./Spy30 Min/spy_30x_202202.txt")

In [3]:
spy_feb_raw.head()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99757,0.00011,...,0.01,-0.00009,0.00002,0.00049,-0.00530,-0.00022,1.650550,0.000000,150.7,0.334
1,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99739,0.00012,...,0.01,-0.00007,0.00003,0.00015,-0.00545,-0.00033,1.587310,0.000000,145.7,0.323
2,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99781,0.00015,...,0.01,-0.00021,0.00000,0.00025,-0.00483,-0.00029,1.524950,0.000000,140.7,0.312
3,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99691,0.00011,...,0.01,-0.00051,0.00002,0.00051,-0.00488,-0.00017,1.463620,0.000000,135.7,0.301
4,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99810,0.00011,...,0.01,-0.00012,0.00005,0.00089,-0.00474,-0.00036,1.402770,0.000000,130.7,0.290

In [4]:
# Dropping all the PUT columns since it is not needed - how to get the last 2 rows back tho?

spy_feb_raw.drop(spy_feb_raw.iloc[:, 20:31], inplace = True , axis=1)

spy_feb_raw.tail()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
1364729,1646082000,2022-02-28 16:00,2022-02-28,16.0,436.52,2024-12-20,1734728400,1026.0,0.06257,0.00101,...,0.68690,0.165710,0.000000,4.0,1 x 1,2.0,3.98,700.0,263.5,0.604
1364730,1646082000,2022-02-28 16:00,2022-02-28,16.0,436.52,2024-12-20,1734728400,1026.0,0.10465,0.00122,...,1.10988,0.198390,0.000000,3.62,2 x 10,2.8,10.0,705.0,268.5,0.615
1364731,1646082000,2022-02-28 16:00,2022-02-28,16.0,436.52,2024-12-20,1734728400,1026.0,0.09564,0.00117,...,1.01780,0.195050,1.000000,3.5,2 x 1,2.8,8.5,710.0,273.5,0.626
1364732,1646082000,2022-02-28 16:00,2022-02-28,16.0,436.52,2024-12-20,1734728400,1026.0,0.09443,0.00117,...,1.00567,0.196260,2.000000,2.88,2 x 1,2.8,8.44,715.0,278.5,0.638
1364733,1646082000,2022-02-28 16:00,2022-02-28,16.0,436.52,2024-12-20,1734728400,1026.0,0.05912,0.00094,...,0.64620,0.172470,6.000000,2.9,1 x 2,2.8,3.0,720.0,283.5,0.649

In [5]:
spy_jan_raw = pd.read_csv("./Spy30 Min/spy_30x_202201.txt")
spy_jan_raw.to_csv("./Spy30 Min/spy_30x_202201.csv", index=None)

C:\Users\aarch\AppData\Local\Temp\ipykernel_11172\1247263638.py:1: DtypeWarning: Columns (15,17,18,20,21,23) have mixed types. Specify dtype option on import or set low_memory=False.
  spy_jan_raw = pd.read_csv("./Spy30 Min/spy_30x_202201.txt")

In [6]:
spy_jan_raw.head()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88342,0.00007,...,0.01,0.00000,0.00004,0.00004,-0.00491,0.0,3.921640,0.000000,241.4,0.507
1,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,1.00000,0.00000,...,0.01,-0.00015,0.00003,-0.00017,-0.00495,0.0,3.809690,0.000000,236.4,0.496
2,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88804,-0.00002,...,0.01,-0.00025,-0.00002,0.00045,-0.00460,0.0,3.700490,0.000000,231.4,0.486
3,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88920,0.00000,...,0.01,-0.00004,0.00003,-0.00018,-0.00544,0.0,3.593250,0.000000,226.4,0.475
4,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,1.00000,0.00000,...,0.01,-0.00044,0.00005,0.00032,-0.00536,0.0,3.487810,0.000000,221.4,0.465

In [7]:
# Dropping all the PUT columns since it is not needed - how to get the last 2 rows back tho?

spy_jan_raw.drop(spy_jan_raw.iloc[:, 20:31], inplace = True , axis=1)

spy_jan_raw.tail()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
1380927,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.0,0.07679,0.00113,...,0.88752,0.163330,0.000000,3.1,2 x 1,3.1,4.7,700.0,250.1,0.556
1380928,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.0,0.11080,0.00127,...,1.24206,0.188030,0.000000,3.25,1 x 51,3.05,10.5,705.0,255.1,0.567
1380929,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.0,0.05495,0.00095,...,0.64791,0.153460,0.000000,2.81,50 x 1,0.02,5.0,710.0,260.1,0.578
1380930,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.0,0.06362,0.00100,...,0.73814,0.161280,1.000000,3.05,1 x 1,2.95,3.23,715.0,265.1,0.589
1380931,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.0,0.05880,0.00099,...,0.68530,0.160340,24.000000,2.0,1 x 1,2.67,2.95,720.0,270.1,0.600

In [8]:
spy_mar_raw = pd.read_csv("./Spy30 Min/spy_30x_202203.txt")
spy_mar_raw.to_csv("./Spy30 Min/spy_30x_202203.csv", index=None)

C:\Users\aarch\AppData\Local\Temp\ipykernel_11172\931898369.py:1: DtypeWarning: Columns (15,17,18,20,21,23,29) have mixed types. Specify dtype option on import or set low_memory=False.
  spy_mar_raw = pd.read_csv("./Spy30 Min/spy_30x_202203.txt")

In [9]:
# Dropping all the PUT columns since it is not needed - how to get the last 2 rows back tho?

spy_mar_raw.drop(spy_mar_raw.iloc[:, 20:31], inplace = True , axis=1)

spy_mar_raw.tail()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
1547947,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08611,0.00127,...,0.93677,0.172830,0.000000,4.94,2 x 1,2.7,6.46,700.0,248.2,0.549
1547948,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09348,0.00122,...,1.01010,0.180860,0.000000,3.07,1 x 2,3.0,7.5,705.0,253.2,0.561
1547949,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09002,0.00120,...,0.97074,0.180970,0.000000,4.05,1 x 1,3.01,7.0,710.0,258.2,0.572
1547950,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08860,0.00120,...,0.96048,0.183300,0.000000,4.72,1 x 4,3.0,7.0,715.0,263.2,0.583
1547951,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.07671,0.00112,...,0.82983,0.176950,0.000000,4.17,1 x 1,3.59,4.5,720.0,268.2,0.594

In [10]:
spy_data_raw = pd.concat([spy_jan_raw, spy_feb_raw, spy_mar_raw])

In [11]:
display(spy_data_raw.iloc[1380930:])

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
1380930,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.00,0.06362,0.00100,...,0.73814,0.161280,1.000000,3.05,1 x 1,2.95,3.23,715.0,265.1,0.589
1380931,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.00,0.05880,0.00099,...,0.68530,0.160340,24.000000,2.0,1 x 1,2.67,2.95,720.0,270.1,0.600
0,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99757,0.00011,...,0.01638,2.008630,,0.000000,20 x 20,150.560000,150.970000,300.0,150.7,0.334
1,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99739,0.00012,...,0.01685,1.933080,,0.000000,20 x 20,145.560000,145.970000,305.0,145.7,0.323
2,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99781,0.00015,...,0.01701,1.858600,,0.000000,20 x 20,140.560000,140.970000,310.0,140.7,0.312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1547947,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08611,0.00127,...,0.93677,0.172830,0.000000,4.94,2 x 1,2.7,6.46,700.0,248.2,0.549
1547948,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09348,0.00122,...,1.01010,0.180860,0.000000,3.07,1 x 2,3.0,7.5,705.0,253.2,0.561
1547949,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09002,0.00120,...,0.97074,0.180970,0.000000,4.05,1 x 1,3.01,7.0,710.0,258.2,0.572
1547950,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08860,0.00120,...,0.96048,0.183300,0.000000,4.72,1 x 4,3.0,7.0,715.0,263.2,0.583
1547951,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.07671,0.00112,...,0.82983,0.176950,0.000000,4.17,1 x 1,3.59,4.5,720.0,268.2,0.594

In [12]:
display(spy_data_raw.head())
display(spy_data_raw.tail())

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88342,0.00007,...,0.00063,9.994200,,0.0,10 x 1,240.91,242.8,235.0,241.4,0.507
1,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,1.00000,0.00000,...,0.00000,,,0.0,1 x 20,235.59,236.46,240.0,236.4,0.496
2,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88804,-0.00002,...,0.00056,9.098910,,0.0,10 x 105,230.96,232.15,245.0,231.4,0.486
3,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88920,0.00000,...,0.00122,8.835610,,0.0,10 x 1,225.96,227.78,250.0,226.4,0.475
4,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,1.00000,0.00000,...,0.00000,,,0.0,105 x 1,220.65,221.91,255.0,221.4,0.465

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
1547947,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08611,0.00127,...,0.93677,0.172830,0.000000,4.94,2 x 1,2.7,6.46,700.0,248.2,0.549
1547948,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09348,0.00122,...,1.01010,0.180860,0.000000,3.07,1 x 2,3.0,7.5,705.0,253.2,0.561
1547949,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09002,0.00120,...,0.97074,0.180970,0.000000,4.05,1 x 1,3.01,7.0,710.0,258.2,0.572
1547950,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08860,0.00120,...,0.96048,0.183300,0.000000,4.72,1 x 4,3.0,7.0,715.0,263.2,0.583
1547951,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.07671,0.00112,...,0.82983,0.176950,0.000000,4.17,1 x 1,3.59,4.5,720.0,268.2,0.594

In [13]:
#spy_data_v1 = spy_data_raw.drop(columns=["[QUOTE_UNIXTIME]", "[QUOTE_DATE]",  "[QUOTE_TIME_HOURS]', '[EXPIRE_UNIX]','[C_BID]', '[C_ASK]' , '[C_SIZE]'])

#spy_data_v2 = spy_data_raw.drop(columns=["[QUOTE_UNIXTIME]"," [QUOTE_DATE]", " [QUOTE_TIME_HOURS]", " [EXPIRE_UNIX]", " [C_BID]", " [C_ASK]", " [C_SIZE]"])

spy_data_raw.columns

Index(['[QUOTE_UNIXTIME]', ' [QUOTE_READTIME]', ' [QUOTE_DATE]',
       ' [QUOTE_TIME_HOURS]', ' [UNDERLYING_LAST]', ' [EXPIRE_DATE]',
       ' [EXPIRE_UNIX]', ' [DTE]', ' [C_DELTA]', ' [C_GAMMA]', ' [C_VEGA]',
       ' [C_THETA]', ' [C_RHO]', ' [C_IV]', ' [C_VOLUME]', ' [C_LAST]',
       ' [C_SIZE]', ' [C_BID]', ' [C_ASK]', ' [STRIKE]', ' [STRIKE_DISTANCE]',
       ' [STRIKE_DISTANCE_PCT]'],
      dtype='object')

In [23]:
#spy_data_v1 = spy_data_raw.drop(columns=["[QUOTE_UNIXTIME]"])

#spy_data_v1 = spy_data_v1.drop(columns=[" [C_BID]"])

#spy_data_v1 = spy_data_raw.drop(columns=["[C_ASK]"])

#spy_data_v1 = spy_data_raw.drop(columns=["[C_SIZE]"])

In [21]:
spy_data_v1.columns

Index([' [QUOTE_READTIME]', ' [QUOTE_DATE]', ' [QUOTE_TIME_HOURS]',
       ' [UNDERLYING_LAST]', ' [EXPIRE_DATE]', ' [EXPIRE_UNIX]', ' [DTE]',
       ' [C_DELTA]', ' [C_GAMMA]', ' [C_VEGA]', ' [C_THETA]', ' [C_RHO]',
       ' [C_IV]', ' [C_VOLUME]', ' [C_LAST]', ' [C_SIZE]', ' [C_BID]',
       ' [C_ASK]', ' [STRIKE]', ' [STRIKE_DISTANCE]',
       ' [STRIKE_DISTANCE_PCT]'],
      dtype='object')

In [24]:
spy_data_v2 = spy_data_raw.drop(columns=["[QUOTE_UNIXTIME]"," [QUOTE_DATE]", " [QUOTE_TIME_HOURS]", " [EXPIRE_UNIX]", " [C_BID]", " [C_ASK]", " [C_SIZE]"])

In [25]:
spy_data_v2.head()

,[QUOTE_READTIME],[UNDERLYING_LAST],[EXPIRE_DATE],[DTE],[C_DELTA],[C_GAMMA],[C_VEGA],[C_THETA],[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88342,0.00007,0.02894,-0.42476,0.00063,9.994200,,0.0,235.0,241.4,0.507
1,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,,0.0,240.0,236.4,0.496
2,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88804,-0.00002,0.02824,-0.12471,0.00056,9.098910,,0.0,245.0,231.4,0.486
3,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88920,0.00000,0.02923,-0.43999,0.00122,8.835610,,0.0,250.0,226.4,0.475
4,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,,0.0,255.0,221.4,0.465

In [ ]:
np.where