In [15]:
import pandas as pd 
import numpy as np 
from pathlib import Path

In [17]:
spy_feb_raw = pd.read_csv("./Resources/spy_30x_202202.txt")
spy_feb_raw.to_csv("./Resources/spy_30x_202202.csv", index=None)

C:\Users\barkf\anaconda3\envs\dev\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (15,17,18,20,21,23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [18]:
spy_feb_raw.head()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99757,0.00011,...,0.01,-0.00009,0.00002,0.00049,-0.00530,-0.00022,1.650550,0.000000,150.7,0.334
1,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99739,0.00012,...,0.01,-0.00007,0.00003,0.00015,-0.00545,-0.00033,1.587310,0.000000,145.7,0.323
2,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99781,0.00015,...,0.01,-0.00021,0.00000,0.00025,-0.00483,-0.00029,1.524950,0.000000,140.7,0.312
3,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99691,0.00011,...,0.01,-0.00051,0.00002,0.00051,-0.00488,-0.00017,1.463620,0.000000,135.7,0.301
4,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99810,0.00011,...,0.01,-0.00012,0.00005,0.00089,-0.00474,-0.00036,1.402770,0.000000,130.7,0.290

In [19]:
# Dropping all the PUT columns since it is not needed - how to get the last 2 rows back tho?

spy_feb_raw.drop(spy_feb_raw.iloc[:, 20:31], inplace = True , axis=1)

spy_feb_raw.tail()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
1364729,1646082000,2022-02-28 16:00,2022-02-28,16.0,436.52,2024-12-20,1734728400,1026.0,0.06257,0.00101,...,0.68690,0.165710,0.000000,4.0,1 x 1,2.0,3.98,700.0,263.5,0.604
1364730,1646082000,2022-02-28 16:00,2022-02-28,16.0,436.52,2024-12-20,1734728400,1026.0,0.10465,0.00122,...,1.10988,0.198390,0.000000,3.62,2 x 10,2.8,10.0,705.0,268.5,0.615
1364731,1646082000,2022-02-28 16:00,2022-02-28,16.0,436.52,2024-12-20,1734728400,1026.0,0.09564,0.00117,...,1.01780,0.195050,1.000000,3.5,2 x 1,2.8,8.5,710.0,273.5,0.626
1364732,1646082000,2022-02-28 16:00,2022-02-28,16.0,436.52,2024-12-20,1734728400,1026.0,0.09443,0.00117,...,1.00567,0.196260,2.000000,2.88,2 x 1,2.8,8.44,715.0,278.5,0.638
1364733,1646082000,2022-02-28 16:00,2022-02-28,16.0,436.52,2024-12-20,1734728400,1026.0,0.05912,0.00094,...,0.64620,0.172470,6.000000,2.9,1 x 2,2.8,3.0,720.0,283.5,0.649

In [23]:
spy_jan_raw = pd.read_csv("./Resources/spy_30x_202201.txt")
spy_jan_raw.to_csv("./Resources/spy_30x_202201.csv", index=None)

C:\Users\barkf\anaconda3\envs\dev\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (15,17,18,20,21,23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [24]:
spy_jan_raw.head()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88342,0.00007,...,0.01,0.00000,0.00004,0.00004,-0.00491,0.0,3.921640,0.000000,241.4,0.507
1,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,1.00000,0.00000,...,0.01,-0.00015,0.00003,-0.00017,-0.00495,0.0,3.809690,0.000000,236.4,0.496
2,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88804,-0.00002,...,0.01,-0.00025,-0.00002,0.00045,-0.00460,0.0,3.700490,0.000000,231.4,0.486
3,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88920,0.00000,...,0.01,-0.00004,0.00003,-0.00018,-0.00544,0.0,3.593250,0.000000,226.4,0.475
4,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,1.00000,0.00000,...,0.01,-0.00044,0.00005,0.00032,-0.00536,0.0,3.487810,0.000000,221.4,0.465

In [ ]:
# Dropping all the PUT columns since it is not needed - how to get the last 2 rows back tho?

spy_jan_raw.drop(spy_jan_raw.iloc[:, 20:31], inplace = True , axis=1)

spy_jan_raw.tail()

In [25]:
spy_mar_raw = pd.read_csv("./Resources/spy_30x_202203.txt")
spy_mar_raw.to_csv("./Resources/spy_30x_202203.csv", index=None)

C:\Users\barkf\anaconda3\envs\dev\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (15,17,18,20,21,23,29) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [26]:
# Dropping all the PUT columns since it is not needed - how to get the last 2 rows back tho?

spy_mar_raw.drop(spy_mar_raw.iloc[:, 20:31], inplace = True , axis=1)

spy_mar_raw.tail()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
1547947,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08611,0.00127,...,0.93677,0.172830,0.000000,4.94,2 x 1,2.7,6.46,700.0,248.2,0.549
1547948,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09348,0.00122,...,1.01010,0.180860,0.000000,3.07,1 x 2,3.0,7.5,705.0,253.2,0.561
1547949,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09002,0.00120,...,0.97074,0.180970,0.000000,4.05,1 x 1,3.01,7.0,710.0,258.2,0.572
1547950,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08860,0.00120,...,0.96048,0.183300,0.000000,4.72,1 x 4,3.0,7.0,715.0,263.2,0.583
1547951,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.07671,0.00112,...,0.82983,0.176950,0.000000,4.17,1 x 1,3.59,4.5,720.0,268.2,0.594

In [27]:
spy_data_raw = pd.concat([spy_jan_raw, spy_feb_raw, spy_mar_raw])

In [28]:
display(spy_data_raw.iloc[1380930:])

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
1380930,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.00,0.06362,0.00100,...,249.0,-0.85762,0.00063,1.38597,-0.01117,-5.59778,0.195500,0.000000,265.1,0.589
1380931,1643662800,2022-01-31 16:00,2022-01-31,16.0,449.88,2024-12-20,1734728400,1054.00,0.05880,0.00099,...,264.93,-0.84750,0.00070,1.47773,-0.01235,-6.18794,0.204850,0.000000,270.1,0.600
0,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99757,0.00011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150.7,0.334
1,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99739,0.00012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.7,0.323
2,1643725810,2022-02-01 09:30,2022-02-01,9.5,450.71,2022-02-02,1643835600,1.27,0.99781,0.00015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140.7,0.312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1547947,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08611,0.00127,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,248.2,0.549
1547948,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09348,0.00122,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,253.2,0.561
1547949,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09002,0.00120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,258.2,0.572
1547950,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08860,0.00120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,263.2,0.583
1547951,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.07671,0.00112,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,268.2,0.594

In [29]:
display(spy_data_raw.head())
display(spy_data_raw.tail())

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88342,0.00007,...,0.01,0.00000,0.00004,0.00004,-0.00491,0.0,3.921640,0.000000,241.4,0.507
1,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,1.00000,0.00000,...,0.01,-0.00015,0.00003,-0.00017,-0.00495,0.0,3.809690,0.000000,236.4,0.496
2,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88804,-0.00002,...,0.01,-0.00025,-0.00002,0.00045,-0.00460,0.0,3.700490,0.000000,231.4,0.486
3,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,0.88920,0.00000,...,0.01,-0.00004,0.00003,-0.00018,-0.00544,0.0,3.593250,0.000000,226.4,0.475
4,1641220210,2022-01-03 09:30,2022-01-03,9.5,476.43,2022-01-03,1641243600,0.27,1.00000,0.00000,...,0.01,-0.00044,0.00005,0.00032,-0.00536,0.0,3.487810,0.000000,221.4,0.465

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
1547947,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08611,0.00127,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,248.2,0.549
1547948,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09348,0.00122,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,253.2,0.561
1547949,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.09002,0.00120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,258.2,0.572
1547950,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.08860,0.00120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,263.2,0.583
1547951,1648756800,2022-03-31 16:00,2022-03-31,16.0,451.77,2024-12-20,1734728400,995.04,0.07671,0.00112,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,268.2,0.594

In [30]:
#spy_data_v1 = spy_data_raw.drop(columns=["[QUOTE_UNIXTIME]", "[QUOTE_DATE]",  "[QUOTE_TIME_HOURS]', '[EXPIRE_UNIX]','[C_BID]', '[C_ASK]' , '[C_SIZE]'])

#spy_data_v2 = spy_data_raw.drop(columns=["[QUOTE_UNIXTIME]"," [QUOTE_DATE]", " [QUOTE_TIME_HOURS]", " [EXPIRE_UNIX]", " [C_BID]", " [C_ASK]", " [C_SIZE]"])

spy_data_raw.columns

Index(['[QUOTE_UNIXTIME]', ' [QUOTE_READTIME]', ' [QUOTE_DATE]',
       ' [QUOTE_TIME_HOURS]', ' [UNDERLYING_LAST]', ' [EXPIRE_DATE]',
       ' [EXPIRE_UNIX]', ' [DTE]', ' [C_DELTA]', ' [C_GAMMA]', ' [C_VEGA]',
       ' [C_THETA]', ' [C_RHO]', ' [C_IV]', ' [C_VOLUME]', ' [C_LAST]',
       ' [C_SIZE]', ' [C_BID]', ' [C_ASK]', ' [STRIKE]', ' [P_BID]',
       ' [P_ASK]', ' [P_SIZE]', ' [P_LAST]', ' [P_DELTA]', ' [P_GAMMA]',
       ' [P_VEGA]', ' [P_THETA]', ' [P_RHO]', ' [P_IV]', ' [P_VOLUME]',
       ' [STRIKE_DISTANCE]', ' [STRIKE_DISTANCE_PCT]'],
      dtype='object')

In [31]:
spy_data_v2 = spy_data_raw.drop(columns=["[QUOTE_UNIXTIME]"," [QUOTE_DATE]", " [QUOTE_TIME_HOURS]", " [EXPIRE_UNIX]", " [C_BID]", " [C_ASK]", " [C_SIZE]"])

In [32]:
spy_data_v2.head()

,[QUOTE_READTIME],[UNDERLYING_LAST],[EXPIRE_DATE],[DTE],[C_DELTA],[C_GAMMA],[C_VEGA],[C_THETA],[C_RHO],[C_IV],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88342,0.00007,0.02894,-0.42476,0.00063,9.994200,...,0.01,0.00000,0.00004,0.00004,-0.00491,0.0,3.921640,0.000000,241.4,0.507
1,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,...,0.01,-0.00015,0.00003,-0.00017,-0.00495,0.0,3.809690,0.000000,236.4,0.496
2,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88804,-0.00002,0.02824,-0.12471,0.00056,9.098910,...,0.01,-0.00025,-0.00002,0.00045,-0.00460,0.0,3.700490,0.000000,231.4,0.486
3,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88920,0.00000,0.02923,-0.43999,0.00122,8.835610,...,0.01,-0.00004,0.00003,-0.00018,-0.00544,0.0,3.593250,0.000000,226.4,0.475
4,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,...,0.01,-0.00044,0.00005,0.00032,-0.00536,0.0,3.487810,0.000000,221.4,0.465

In [33]:
# fixing the format of the column names 

spy_data_v2.rename(columns = {' [QUOTE_READTIME]': 'QUOTE_READTIME',' [UNDERLYING_LAST]': 'UNDERLYING_LAST', ' [EXPIRE_DATE]' : 'EXPIRE_DATE', ' [DTE]': 'DTE', ' [C_DELTA]' : 'C_DELTA', ' [C_GAMMA]' : 'C_GAMMA', ' [C_VEGA]': 'C_VEGA', ' [C_THETA]': 'C_THETA', ' [C_RHO]': 'C_RHO', ' [C_IV]': 'C_IV', ' [C_VOLUME]': 'C_VOLUME', ' [C_LAST]': 'C_LAST', ' [STRIKE]': 'STRIKE', ' [STRIKE_DISTANCE]': 'STRIKE_DISTANCE', ' [STRIKE_DISTANCE_PCT]': 'STRIKE_DISTANCE_PCT'}, inplace = True)

In [34]:
spy_data_v2.columns

Index(['QUOTE_READTIME', 'UNDERLYING_LAST', 'EXPIRE_DATE', 'DTE', 'C_DELTA',
       'C_GAMMA', 'C_VEGA', 'C_THETA', 'C_RHO', 'C_IV', 'C_VOLUME', 'C_LAST',
       'STRIKE', ' [P_BID]', ' [P_ASK]', ' [P_SIZE]', ' [P_LAST]',
       ' [P_DELTA]', ' [P_GAMMA]', ' [P_VEGA]', ' [P_THETA]', ' [P_RHO]',
       ' [P_IV]', ' [P_VOLUME]', 'STRIKE_DISTANCE', 'STRIKE_DISTANCE_PCT'],
      dtype='object')

In [35]:
spy_data_v2.head()

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],STRIKE_DISTANCE,STRIKE_DISTANCE_PCT
0,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88342,0.00007,0.02894,-0.42476,0.00063,9.994200,...,0.01,0.00000,0.00004,0.00004,-0.00491,0.0,3.921640,0.000000,241.4,0.507
1,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,...,0.01,-0.00015,0.00003,-0.00017,-0.00495,0.0,3.809690,0.000000,236.4,0.496
2,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88804,-0.00002,0.02824,-0.12471,0.00056,9.098910,...,0.01,-0.00025,-0.00002,0.00045,-0.00460,0.0,3.700490,0.000000,231.4,0.486
3,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88920,0.00000,0.02923,-0.43999,0.00122,8.835610,...,0.01,-0.00004,0.00003,-0.00018,-0.00544,0.0,3.593250,0.000000,226.4,0.475
4,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,...,0.01,-0.00044,0.00005,0.00032,-0.00536,0.0,3.487810,0.000000,221.4,0.465

In [36]:
spy_data_v2['STRIKE DISTANCE'] = spy_data_v2['STRIKE'] - spy_data_v2['UNDERLYING_LAST']

display(spy_data_v2.head())

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,...,[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],STRIKE_DISTANCE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE
0,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88342,0.00007,0.02894,-0.42476,0.00063,9.994200,...,0.00000,0.00004,0.00004,-0.00491,0.0,3.921640,0.000000,241.4,0.507,-241.43
1,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,...,-0.00015,0.00003,-0.00017,-0.00495,0.0,3.809690,0.000000,236.4,0.496,-236.43
2,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88804,-0.00002,0.02824,-0.12471,0.00056,9.098910,...,-0.00025,-0.00002,0.00045,-0.00460,0.0,3.700490,0.000000,231.4,0.486,-231.43
3,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88920,0.00000,0.02923,-0.43999,0.00122,8.835610,...,-0.00004,0.00003,-0.00018,-0.00544,0.0,3.593250,0.000000,226.4,0.475,-226.43
4,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,...,-0.00044,0.00005,0.00032,-0.00536,0.0,3.487810,0.000000,221.4,0.465,-221.43

In [37]:
spy_data_v3 = spy_data_v2.drop(columns=['STRIKE_DISTANCE'])
spy_data_v3.head()

,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],STRIKE_DISTANCE_PCT,STRIKE DISTANCE
0,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88342,0.00007,0.02894,-0.42476,0.00063,9.994200,...,0.01,0.00000,0.00004,0.00004,-0.00491,0.0,3.921640,0.000000,0.507,-241.43
1,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,...,0.01,-0.00015,0.00003,-0.00017,-0.00495,0.0,3.809690,0.000000,0.496,-236.43
2,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88804,-0.00002,0.02824,-0.12471,0.00056,9.098910,...,0.01,-0.00025,-0.00002,0.00045,-0.00460,0.0,3.700490,0.000000,0.486,-231.43
3,2022-01-03 09:30,476.43,2022-01-03,0.27,0.88920,0.00000,0.02923,-0.43999,0.00122,8.835610,...,0.01,-0.00004,0.00003,-0.00018,-0.00544,0.0,3.593250,0.000000,0.475,-226.43
4,2022-01-03 09:30,476.43,2022-01-03,0.27,1.00000,0.00000,0.00000,0.00000,0.00000,,...,0.01,-0.00044,0.00005,0.00032,-0.00536,0.0,3.487810,0.000000,0.465,-221.43

In [39]:
# setting the index to the contract readtime  

spy_data_v4 = spy_data_v3.set_index('QUOTE_READTIME')

In [40]:
# filtering out strikes values that will not be used since the spread was quite large - retaining 15 total strikes 
# Import data


spy_data_v5 = spy_data_v4[
    (spy_data_v4['STRIKE DISTANCE'] <= 12.00) & (spy_data_v4['STRIKE DISTANCE'] > -3.00)
]

spy_data_v5

,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],STRIKE_DISTANCE_PCT,STRIKE DISTANCE
QUOTE_READTIME,,,,,,,,,,,,,,,,,,,,,
2022-01-03 09:30,476.43,2022-01-03,0.27,0.75550,0.10534,0.07701,-0.32969,0.00641,0.140070,61.000000,...,0.33,-0.21575,0.10620,0.07341,-0.34013,-0.00261,0.110410,68.000000,0.005,-2.43
2022-01-03 09:30,476.43,2022-01-03,0.27,0.65622,0.12492,0.09052,-0.54061,0.00693,0.130370,60.000000,...,0.58,-0.32269,0.14184,0.08960,-0.53474,-0.00465,0.101420,58.000000,0.003,-1.43
2022-01-03 09:30,476.43,2022-01-03,0.27,0.53238,0.14434,0.09834,-0.81966,0.00570,0.117060,11.000000,...,0.91,-0.47144,0.17717,0.09887,-0.81986,-0.00604,0.089970,19.000000,0.001,-0.43
2022-01-03 09:30,476.43,2022-01-03,0.27,0.38650,0.14092,0.09542,-0.74536,0.00503,0.112130,81.000000,...,1.46,-0.66374,0.18295,0.09140,-0.71973,-0.00916,0.080220,2.000000,0.001,0.57
2022-01-03 09:30,476.43,2022-01-03,0.27,0.24891,0.11934,0.07897,-0.39493,0.00329,0.107860,90.000000,...,2.24,-0.87226,0.12867,0.05194,-0.37980,-0.01178,0.064480,1.000000,0.003,1.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-31 16:00,451.77,2024-01-19,659.04,0.55901,0.00278,2.39547,-0.04419,3.55214,0.234300,58.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.007,3.23
2022-03-31 16:00,451.77,2024-01-19,659.04,0.54488,0.00285,2.40679,-0.04353,3.48109,0.232670,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.018,8.23
2022-03-31 16:00,451.77,2024-12-20,995.04,0.58767,0.00220,2.90317,-0.03576,5.28087,0.236990,3.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.004,-1.77
2022-03-31 16:00,451.77,2024-12-20,995.04,0.57873,0.00220,2.91728,-0.03660,5.18083,0.241990,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.007,3.23
2022-03-31 16:00,451.77,2024-12-20,995.04,0.56685,0.00220,2.93334,-0.03684,5.11563,0.238630,121.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.018,8.23

In [69]:
spy_path = Path('./Resources/spycallsV3.csv')
spy_data_v5 = pd.read_csv(spy_path, index_col="QUOTE_READTIME")

In [72]:
spy_data_v5.tail()

,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE
QUOTE_READTIME,,,,,,,,,,,,,,
2/25/2022 9:30,429.51,3/25/2022,28.23,0.50647,0.01329,0.48097,-0.19037,0.15252,0.25083,0.0,10.68,429.0,0.001,-0.51
2/24/2022 16:00,428.06,3/25/2022,28.96,0.31723,0.01259,0.43206,-0.14375,0.09778,0.23642,97.0,5.76,440.0,0.028,11.94
2/24/2022 16:00,428.06,3/25/2022,28.96,0.33134,0.01278,0.44002,-0.14633,0.10218,0.23784,54.0,6.32,439.0,0.026,10.94
2/25/2022 9:30,429.51,3/25/2022,28.23,0.51934,0.01324,0.48022,-0.19178,0.15560,0.25387,0.0,11.69,428.0,0.004,-1.51
2/25/2022 9:30,429.51,3/25/2022,28.23,0.53277,0.01305,0.47916,-0.19285,0.15886,0.25624,0.0,11.55,427.0,0.006,-2.51

In [71]:
spy_data_v5.columns

Index(['UNDERLYING_LAST', 'EXPIRE_DATE', 'DTE', 'C_DELTA', 'C_GAMMA', 'C_VEGA',
       'C_THETA', 'C_RHO', 'C_IV', 'C_VOLUME', 'C_LAST', 'STRIKE',
       'STRIKE_DISTANCE_PCT', 'STRIKE DISTANCE'],
      dtype='object')

In [79]:
spy_data_v6 = spy_data_v5[
    (spy_data_v5['DTE'] <= 11.0) 
]

spy_data_v6.head()

,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE
QUOTE_READTIME,,,,,,,,,,,,,,
1/4/2022 12:00,477.47,1/7/2022,3.17,0.02300,0.01017,0.02686,-0.02841,0.00112,0.10755,945.0,0.05,488.0,0.022,10.53
1/4/2022 12:00,477.47,1/7/2022,3.17,0.03244,0.01380,0.03645,-0.03910,0.00140,0.10587,929.0,0.07,487.0,0.020,9.53
1/4/2022 12:00,477.47,1/7/2022,3.17,0.01355,0.00664,0.01750,-0.01714,0.00072,0.10644,616.0,0.03,489.0,0.024,11.53
1/6/2022 10:30,467.69,1/7/2022,1.23,0.48150,0.06841,0.13640,-0.69786,0.01158,0.17024,4512.0,2.17,468.0,0.001,0.31
1/6/2022 10:30,467.69,1/7/2022,1.23,0.41030,0.06925,0.13296,-0.64939,0.01054,0.16404,7511.0,1.67,469.0,0.003,1.31

In [80]:
spy_data_v6.to_csv("./Resources/spycallsV4.csv", index=None)