In [ ]:
import pandas as pd 
import numpy as np 
from pathlib import Path

In [ ]:
spy_feb_raw = pd.read_csv("./Resources/spy_30x_202202.txt")
spy_feb_raw.to_csv("./Resources/spy_30x_202202.csv", index=None)

In [ ]:
spy_feb_raw.head()

In [ ]:
# Dropping all the PUT columns since it is not needed - how to get the last 2 rows back tho?

spy_feb_raw.drop(spy_feb_raw.iloc[:, 20:31], inplace = True , axis=1)

spy_feb_raw.tail()

In [ ]:
spy_jan_raw = pd.read_csv("./Resources/spy_30x_202201.txt")
spy_jan_raw.to_csv("./Resources/spy_30x_202201.csv", index=None)

In [ ]:
spy_jan_raw.head()

In [ ]:
# Dropping all the PUT columns since it is not needed - how to get the last 2 rows back tho?

spy_jan_raw.drop(spy_jan_raw.iloc[:, 20:31], inplace = True , axis=1)

spy_jan_raw.tail()

In [ ]:
spy_mar_raw = pd.read_csv("./Resources/spy_30x_202203.txt")
spy_mar_raw.to_csv("./Resources/spy_30x_202203.csv", index=None)

In [ ]:
# Dropping all the PUT columns since it is not needed - how to get the last 2 rows back tho?

spy_mar_raw.drop(spy_mar_raw.iloc[:, 20:31], inplace = True , axis=1)

spy_mar_raw.tail()

In [ ]:
spy_data_raw = pd.concat([spy_jan_raw, spy_feb_raw, spy_mar_raw])

In [ ]:
display(spy_data_raw.iloc[1380930:])

In [ ]:
display(spy_data_raw.head())
display(spy_data_raw.tail())

In [ ]:
#spy_data_v1 = spy_data_raw.drop(columns=["[QUOTE_UNIXTIME]", "[QUOTE_DATE]",  "[QUOTE_TIME_HOURS]', '[EXPIRE_UNIX]','[C_BID]', '[C_ASK]' , '[C_SIZE]'])

#spy_data_v2 = spy_data_raw.drop(columns=["[QUOTE_UNIXTIME]"," [QUOTE_DATE]", " [QUOTE_TIME_HOURS]", " [EXPIRE_UNIX]", " [C_BID]", " [C_ASK]", " [C_SIZE]"])

spy_data_raw.columns

In [ ]:
spy_data_v2 = spy_data_raw.drop(columns=["[QUOTE_UNIXTIME]"," [QUOTE_DATE]", " [QUOTE_TIME_HOURS]", " [EXPIRE_UNIX]", " [C_BID]", " [C_ASK]", " [C_SIZE]"])

In [ ]:
spy_data_v2.head()

In [ ]:
# fixing the format of the column names 

spy_data_v2.rename(columns = {' [QUOTE_READTIME]': 'QUOTE_READTIME',' [UNDERLYING_LAST]': 'UNDERLYING_LAST', ' [EXPIRE_DATE]' : 'EXPIRE_DATE', ' [DTE]': 'DTE', ' [C_DELTA]' : 'C_DELTA', ' [C_GAMMA]' : 'C_GAMMA', ' [C_VEGA]': 'C_VEGA', ' [C_THETA]': 'C_THETA', ' [C_RHO]': 'C_RHO', ' [C_IV]': 'C_IV', ' [C_VOLUME]': 'C_VOLUME', ' [C_LAST]': 'C_LAST', ' [STRIKE]': 'STRIKE', ' [STRIKE_DISTANCE]': 'STRIKE_DISTANCE', ' [STRIKE_DISTANCE_PCT]': 'STRIKE_DISTANCE_PCT'}, inplace = True)

In [ ]:
spy_data_v2.columns

In [ ]:
spy_data_v2.head()

In [ ]:
spy_data_v2['STRIKE DISTANCE'] = spy_data_v2['STRIKE'] - spy_data_v2['UNDERLYING_LAST']

display(spy_data_v2.head())

In [ ]:
spy_data_v3 = spy_data_v2.drop(columns=['STRIKE_DISTANCE'])
spy_data_v3.head()

In [ ]:
# setting the index to the contract readtime  

# spy_data_v4 = spy_data_v3.set_index('QUOTE_READTIME')

In [ ]:
# filtering out strikes values that will not be used since the spread was quite large - retaining 15 total strikes 
# Import data


spy_data_v3 = spy_data_v3[
    (spy_data_v3['STRIKE DISTANCE'] <= 10.00) & (spy_data_v3['STRIKE DISTANCE'] > -5.00)
]

spy_data_v3

In [ ]:
#spy_data_v3.to_csv("./Resources/spycallsV8.csv", index=None)

# Start Here

In [ ]:
import pandas as pd 
import numpy as np 
from pathlib import Path

In [ ]:
spy_path = Path('./Resources/spycallsV9.csv')
spy_data_v5 = pd.read_csv(spy_path)

In [ ]:
spy_data_v5.tail()

In [ ]:
spy_data_v6 = spy_data_v5[
    (spy_data_v5['DTE'] <= 11.0) 
]

spy_data_v6.head()

In [ ]:
# combine strike and expire date to make a unique identifier
spy_data_v6['CONTRACT'] = spy_data_v6['STRIKE'].astype(str) + spy_data_v6['EXPIRE_DATE']
spy_data_v6

In [ ]:
# spy_data_v6.to_csv("./Resources/spycallsV4.csv", index=None)

In [ ]:
spy_data_v7 = spy_data_v6.set_index('CONTRACT')

In [ ]:
spy_data_v7

In [ ]:
spy_data_v7.loc['472.01/7/2022', : ]

In [ ]:
spy_data_v7.loc[spy_data_v7['DTE'] == 4.27, 'C_LAST']

In [ ]:
spy_data_v7["PRICEOPEN"] = spy_data_v7.loc[spy_data_v7['DTE'] == 4.27, 'C_LAST']
spy_data_v7.head(50)

In [ ]:
spy_data_v7.loc['479.01/7/2022', : ]

In [ ]:
spy_data_v7["PRICECLOSE"] = spy_data_v7.loc[spy_data_v7['DTE'] == 2.0, 'C_LAST']
spy_data_v7.head(50)

In [ ]:
spy_data_v7['ROI3'] = spy_data_v7["PRICECLOSE"] / spy_data_v7['PRICEOPEN']
spy_data_v7.head(100)

In [ ]:
## spy_data_v8 = spy_data_v7.drop(columns= ['ROI2', 'ROI1'])
## spy_data_v8.head()

In [ ]:
spy_data_v7['ROI %'] = (spy_data_v7['ROI3'] - 1) * 100
spy_data_v7.head(100)

In [ ]:
spy_data_v8 = spy_data_v7.drop(columns= ['ROI3'])
spy_data_v8.head()

In [ ]:
# spy_data_v8.to_csv("./Resources/spycallsfinal2.csv")

## Start Here 2.0 using spycallsfinal2.csv

In [1]:
import pandas as pd 
import numpy as np 
from pathlib import Path

spy_path = Path('./Resources/spycallsfinal2.csv')
spy_data_v8 = pd.read_csv(spy_path)

In [2]:
spy_data_v8

,CONTRACT,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE,PRICEOPEN,PRICECLOSE,ROI %,Y
0,472.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.70825,0.04263,0.19128,-0.27604,0.04114,0.14597,2.0,5.75,472.0,0.009,-4.43,5.75,1.05,-81.739130,0
1,473.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.67386,0.04767,0.20066,-0.27348,0.03987,0.13666,0.0,4.34,473.0,0.007,-3.43,4.34,0.77,-82.258065,0
2,474.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.62598,0.05055,0.21136,-0.28773,0.03788,0.13515,1.0,4.26,474.0,0.005,-2.43,4.26,0.55,-87.089202,0
3,475.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.57735,0.05466,0.21805,-0.28592,0.03511,0.12942,32.0,3.62,475.0,0.003,-1.43,3.62,0.39,-89.226519,0
4,476.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.52223,0.05633,0.22191,-0.28818,0.03208,0.12704,22.0,3.04,476.0,0.001,-0.43,3.04,0.29,-90.460526,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22411,458.03/25/2022,3/25/2022 16:00,452.55,3/25/2022,0.00,0.00476,0.00494,0.00258,-0.00533,0.00014,0.16389,2702.0,0.01,458.0,NaN,5.45,NaN,NaN,NaN,0
22412,459.03/25/2022,3/25/2022 16:00,452.55,3/25/2022,0.00,0.00503,0.00398,0.00258,-0.00451,-0.00019,0.18157,3424.0,0.01,459.0,NaN,6.45,NaN,NaN,NaN,0
22413,460.03/25/2022,3/25/2022 16:00,452.55,3/25/2022,0.00,0.00459,0.00328,0.00284,-0.00507,-0.00030,0.19885,1109.0,0.01,460.0,NaN,7.45,NaN,NaN,NaN,0
22414,461.03/25/2022,3/25/2022 16:00,452.55,3/25/2022,0.00,0.00350,0.00282,0.00280,-0.00491,-0.00028,0.21525,230.0,0.01,461.0,NaN,8.45,NaN,NaN,NaN,0
22415,462.03/25/2022,3/25/2022 16:00,452.55,3/25/2022,0.00,0.00361,0.00241,0.00210,-0.00533,-0.00033,0.23183,215.0,0.01,462.0,NaN,9.45,NaN,NaN,NaN,0

# Cut values after 2.0 DTE ***

## Y Classification

# Create a 'y' column for our % profit/loss categories (0,1,2,3,4) 
# in % terms
# 0 is <-60 = strong sell
# 1 is (>-60 to -10) = sell
# 2 is (>-10 to 10) = pass
# 3 is (>10-60) = buy
# 4 is >60 = strong buy

In [3]:
spy_data_v8.loc[spy_data_v8["ROI %"] <= -60, "y"] = 0
spy_data_v8.loc[(spy_data_v8["ROI %"] <= -10) & (spy_data_v8["ROI %"] > -60), "y"] = 1
spy_data_v8.loc[(spy_data_v8["ROI %"] <= 10) & (spy_data_v8["ROI %"] > -10), "y"] = 2
spy_data_v8.loc[(spy_data_v8["ROI %"] <= 60) & (spy_data_v8["ROI %"] > 10), "y"] = 3
spy_data_v8.loc[spy_data_v8["ROI %"] > 60, "y"] = 4

In [4]:
spy_data_v8["y"].value_counts()

1.0    2300
0.0    1965
4.0    1469
3.0     671
2.0     464
Name: y, dtype: int64

In [5]:
spy_data_v8.dropna()

,CONTRACT,QUOTE_READTIME,UNDERLYING_LAST,EXPIRE_DATE,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,...,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE,PRICEOPEN,PRICECLOSE,ROI %,Y,y
0,472.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.70825,0.04263,0.19128,-0.27604,0.04114,...,2.0,5.75,472.0,0.009,-4.43,5.75,1.05,-81.739130,0,0.0
1,473.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.67386,0.04767,0.20066,-0.27348,0.03987,...,0.0,4.34,473.0,0.007,-3.43,4.34,0.77,-82.258065,0,0.0
2,474.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.62598,0.05055,0.21136,-0.28773,0.03788,...,1.0,4.26,474.0,0.005,-2.43,4.26,0.55,-87.089202,0,0.0
3,475.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.57735,0.05466,0.21805,-0.28592,0.03511,...,32.0,3.62,475.0,0.003,-1.43,3.62,0.39,-89.226519,0,0.0
4,476.01/7/2022,1/3/2022 9:30,476.43,1/7/2022,4.27,0.52223,0.05633,0.22191,-0.28818,0.03208,...,22.0,3.04,476.0,0.001,-0.43,3.04,0.29,-90.460526,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8221,455.02/11/2022,1/31/2022 16:00,449.88,2/11/2022,11.00,0.36398,0.02217,0.30182,-0.24310,0.04791,...,1514.0,4.21,455.0,0.011,5.12,2.15,4.17,93.953488,0,4.0
8222,456.02/11/2022,1/31/2022 16:00,449.88,2/11/2022,11.00,0.33849,0.02217,0.29366,-0.23103,0.04531,...,135.0,3.78,456.0,0.014,6.12,1.75,3.55,102.857143,0,4.0
8223,457.02/11/2022,1/31/2022 16:00,449.88,2/11/2022,11.00,0.31690,0.02153,0.28670,-0.22593,0.04228,...,1260.0,3.32,457.0,0.016,7.12,1.51,3.08,103.973510,0,4.0
8224,458.02/11/2022,1/31/2022 16:00,449.88,2/11/2022,11.00,0.29208,0.02116,0.27631,-0.21346,0.03934,...,900.0,2.97,458.0,0.018,8.12,1.21,2.54,109.917355,0,4.0
8225,459.02/11/2022,1/31/2022 16:00,449.88,2/11/2022,11.00,0.26916,0.02055,0.26574,-0.20303,0.03684,...,175.0,2.57,459.0,0.020,9.12,1.03,2.04,98.058252,0,4.0

In [6]:
spy_data_v8.describe()

,UNDERLYING_LAST,DTE,C_DELTA,C_GAMMA,C_VEGA,C_THETA,C_RHO,C_IV,C_VOLUME,C_LAST,STRIKE,STRIKE_DISTANCE_PCT,STRIKE DISTANCE,PRICEOPEN,PRICECLOSE,ROI %,Y,y
count,22416.000000,22416.000000,22416.000000,22416.000000,22416.000000,22416.000000,22416.000000,22395.000000,22415.000000,22416.000000,22416.000000,8226.000000,22416.000000,13414.000000,11201.000000,6869.000000,22416.0,6869.000000
mean,444.957718,4.939763,0.394954,0.034502,0.183045,-0.427084,0.026652,0.236700,6829.151327,3.862390,447.456170,0.009105,2.498452,4.499060,2.734295,-3.756210,0.0,1.618431
std,15.815888,3.494888,0.182709,0.024177,0.085042,0.270024,0.020390,0.087062,13487.643367,2.795465,16.382264,0.006070,4.331253,2.767598,1.919996,79.255544,0.0,1.512273
min,410.870000,0.000000,0.002090,0.000000,0.000000,-2.645050,-0.000460,0.000150,0.000000,0.000000,406.000000,0.000000,-4.990000,0.080000,0.080000,-94.518519,0.0,0.000000
25%,432.710000,2.040000,0.270100,0.022870,0.119870,-0.543828,0.009130,0.177865,506.000000,1.550000,435.000000,0.004000,-1.240000,2.410000,1.070000,-63.487332,0.0,0.000000
50%,443.300000,4.100000,0.406285,0.027940,0.186025,-0.374920,0.022980,0.223760,1886.000000,3.500000,446.000000,0.008000,2.500000,4.000000,2.390000,-30.163934,0.0,1.000000
75%,456.280000,8.190000,0.533153,0.039142,0.260170,-0.257190,0.041720,0.286040,6280.000000,5.750000,459.000000,0.014000,6.260000,6.000000,4.230000,15.938303,0.0,3.000000
max,479.650000,11.000000,1.000000,1.525670,0.341690,0.000000,0.101640,0.928850,172999.000000,40.310000,489.000000,0.023000,10.000000,19.370000,7.470000,188.554217,0.0,4.000000

In [ ]:
ydf = spy_data_v8
conditions = [
    (ydf['ROI %'] >= -85.000000),
    (ydf['ROI %'] > -10.000000) & (ydf['ROI %'] < -85.000000),
    (ydf['ROI %'] > -10.000000) & (ydf['ROI %'] < 10.000000),
    (ydf['ROI %'] > 10.000000) & (ydf['ROI %'] < 60.000000),
    (ydf['ROI %'] >= 60.000000)
]

values = ['0', '1', '2', '3', '4']

In [ ]:
ydf['Y'] = np.select(conditions, values)

In [ ]:
ydf.head(1000)

In [ ]:
ydf['Y'] = ydf.apply(lambda x: '0' if x['ROI %'] == '>= -60.00' else 
                                      ('1' if x['ROI %'] == 'condition_2' else 
                                      ('value if true 3' if x['column_name_check_3'] == 'condition_3' else 'default_value')),axis=1)

In [ ]:
if ydf['ROI %'] >= -60.00 :
    ydf['Y'] = 0
elif   
    ydf['ROI %'] > -10.00 & ydf['ROI %'] < -60.00 :
    ydf['Y'] = 1
elif
    ydf['ROI %'] > -10.00 & (ydf['ROI %'] < 10.00 :
    ydf['Y'] = 2
elif
    ydf['ROI %'] > 10) & ydf['ROI %'] < 60.00 :
    ydf['Y'] = 3
elif
    ydf['ROI %'] >= 60.00 :
    ydf['Y'] = 4

In [ ]:
# ydf.to_csv("./Resources/spycallsfinal1.csv")