In [1]:
import pandas as pd
import numpy as np 
from pathlib import Path

In [2]:
# convert vix 30 min Jan data from a txt file into a csv

vix_jan_raw = pd.read_csv("vix_30x_202201.txt")
#vix_jan_raw.to_csv("vix_30x_202201.csv", index=None)

In [3]:
vix_feb_raw = pd.read_csv("vix_30x_202202.txt")
#vix_feb_raw.to_csv("vix_30x_202202.csv", index=None)

In [4]:
vix_mar_raw = pd.read_csv("vix_30x_202203.txt")
#vix_mar_raw.to_csv("vix_30x_202203.csv", index=None)

In [5]:
vix_raw_data = pd.concat([vix_jan_raw, vix_feb_raw, vix_mar_raw])

In [6]:
vix_raw_data

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1641220210,2022-01-03 09:30,2022-01-03,9.5,17.68,2022-01-05,1641416400,2.27,1.00000,0.00000,...,0.00,-0.01832,0.00383,0.00094,-0.06959,-0.00001,5.366720,,7.7,0.434
1,1641220210,2022-01-03 09:30,2022-01-03,9.5,17.68,2022-01-05,1641416400,2.27,1.00000,0.00000,...,0.00,-0.00185,0.00079,0.00024,-0.00446,0.00000,3.446580,,7.2,0.406
2,1641220210,2022-01-03 09:30,2022-01-03,9.5,17.68,2022-01-05,1641416400,2.27,1.00000,0.00000,...,0.01,-0.00170,0.00093,0.00062,-0.00408,0.00000,3.267840,1.000000,6.7,0.378
3,1641220210,2022-01-03 09:30,2022-01-03,9.5,17.68,2022-01-05,1641416400,2.27,1.00000,0.00000,...,0.00,-0.00262,0.00100,-0.00028,-0.00467,0.00000,3.097110,,6.2,0.350
4,1641220210,2022-01-03 09:30,2022-01-03,9.5,17.68,2022-01-05,1641416400,2.27,1.00000,0.00000,...,0.02,-0.01510,0.00438,0.00091,-0.04253,-0.00012,3.988190,11.000000,5.7,0.321
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184186,1648756800,2022-03-31 16:00,2022-03-31,16.0,21.06,2022-12-21,1671656400,265.04,0.02384,0.00320,...,0.00,-1.00000,0.00000,0.00000,0.00000,0.00000,,,118.9,5.648
184187,1648756800,2022-03-31 16:00,2022-03-31,16.0,21.06,2022-12-21,1671656400,265.04,0.02377,0.00303,...,123.70,-1.00000,0.00000,0.00000,0.00000,0.00000,,55.000000,128.9,6.123
184188,1648756800,2022-03-31 16:00,2022-03-31,16.0,21.06,2022-12-21,1671656400,265.04,0.02319,0.00285,...,0.00,-1.00000,0.00000,0.00000,0.00000,0.00000,,,138.9,6.597
184189,1648756800,2022-03-31 16:00,2022-03-31,16.0,21.06,2022-12-21,1671656400,265.04,0.01875,0.00247,...,0.00,-1.00000,0.00000,0.00000,0.00000,0.00000,,,148.9,7.072
184190,1648756800,2022-03-31 16:00,2022-03-31,16.0,21.06,2022-12-21,1671656400,265.04,0.01876,0.00232,...,0.00,-1.00000,0.00000,0.00000,0.00000,0.00000,,,158.9,7.547

In [7]:
# drop the puts columns

vix_raw_data.drop(vix_raw_data.iloc[:, 20:31], inplace = True , axis=1)

vix_raw_data.head()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1641220210,2022-01-03 09:30,2022-01-03,9.5,17.68,2022-01-05,1641416400,2.27,1.0,0.0,...,0.00131,,9.000000,9.56,10 x 10,7.75,8.30,10.0,7.7,0.434
1,1641220210,2022-01-03 09:30,2022-01-03,9.5,17.68,2022-01-05,1641416400,2.27,1.0,0.0,...,0.00067,,,0.00,10 x 10,7.25,7.80,10.5,7.2,0.406
2,1641220210,2022-01-03 09:30,2022-01-03,9.5,17.68,2022-01-05,1641416400,2.27,1.0,0.0,...,0.00123,,,0.00,10 x 10,6.74,7.31,11.0,6.7,0.378
3,1641220210,2022-01-03 09:30,2022-01-03,9.5,17.68,2022-01-05,1641416400,2.27,1.0,0.0,...,0.00053,,,0.00,10 x 10,6.24,6.81,11.5,6.2,0.350
4,1641220210,2022-01-03 09:30,2022-01-03,9.5,17.68,2022-01-05,1641416400,2.27,1.0,0.0,...,0.00098,,15.000000,6.52,10 x 10,5.73,6.32,12.0,5.7,0.321

In [8]:
vix_raw_data.columns

Index(['[QUOTE_UNIXTIME]', ' [QUOTE_READTIME]', ' [QUOTE_DATE]',
       ' [QUOTE_TIME_HOURS]', ' [UNDERLYING_LAST]', ' [EXPIRE_DATE]',
       ' [EXPIRE_UNIX]', ' [DTE]', ' [C_DELTA]', ' [C_GAMMA]', ' [C_VEGA]',
       ' [C_THETA]', ' [C_RHO]', ' [C_IV]', ' [C_VOLUME]', ' [C_LAST]',
       ' [C_SIZE]', ' [C_BID]', ' [C_ASK]', ' [STRIKE]', ' [STRIKE_DISTANCE]',
       ' [STRIKE_DISTANCE_PCT]'],
      dtype='object')

In [9]:
vix_raw_data.drop(vix_raw_data.columns.difference([' [UNDERLYING_LAST]', ' [QUOTE_READTIME]']), 1, inplace=True)

C:\Users\aarch\AppData\Local\Temp\ipykernel_3412\3093654092.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  vix_raw_data.drop(vix_raw_data.columns.difference([' [UNDERLYING_LAST]', ' [QUOTE_READTIME]']), 1, inplace=True)

In [13]:
vix_raw_data.drop_duplicates()

         [QUOTE_READTIME]   [UNDERLYING_LAST]
0        2022-01-03 09:30               17.68
584      2022-01-03 10:00               18.11
1168     2022-01-03 10:30               17.25
1752     2022-01-03 11:00               17.27
2336     2022-01-03 11:30               17.45
...                   ...                 ...
181146   2022-03-31 14:00               19.96
181755   2022-03-31 14:30               20.28
182364   2022-03-31 15:00               20.17
182973   2022-03-31 15:30               20.66
183582   2022-03-31 16:00               21.06

[895 rows x 2 columns]

In [14]:
vix_raw_data.to_csv("vixprice.csv", index=None)